frontend_NodeRED/.flows.json.backup
[
    {
        "id": "f265343e24ade8d5",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9d17759467ec5ab",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ffffff",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#ffffff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "simulation-demo",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 80,
                "sy": 80,
                "gx": 5,
                "gy": 5,
                "cx": 5,
                "cy": 5,
                "px": 5,
                "py": 5
            }
        }
    },
    {
        "id": "ec3d6f50b0ef621e",
        "type": "ui_tab",
        "name": "signin",
        "icon": "account_circle",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "00f6212109cb96d7",
        "type": "ui_group",
        "name": "please fill your information",
        "tab": "ec3d6f50b0ef621e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f620623070c2a5bd",
        "type": "ui_tab",
        "name": "signup",
        "icon": "create",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90f876c4dd9bf71f",
        "type": "ui_group",
        "name": "please your information",
        "tab": "f620623070c2a5bd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5850630318ad32f4",
        "type": "ui_tab",
        "name": "user resister",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "e73f19ab860fb9af",
        "type": "ui_group",
        "name": "please infomation to resister",
        "tab": "5850630318ad32f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4f29528b847d1ef",
        "type": "ui_tab",
        "name": "certification",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "fc0d382079b6fab5",
        "type": "ui_group",
        "name": "type here your certificate number",
        "tab": "b4f29528b847d1ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81b1bdc3.9a60b8",
        "type": "ui_group",
        "name": "Hacks",
        "tab": "2f5baa7e.0221fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2f5baa7e.0221fe",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "timeline",
        "order": 6,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "a9d9a58918ae9263",
        "type": "ui_tab",
        "name": "Application1",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "fcd2a9620a5003c7",
        "type": "ui_group",
        "name": "humidity_window",
        "tab": "a9d9a58918ae9263",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6229a5b6866e8146",
        "type": "ui_group",
        "name": "co2_window",
        "tab": "a9d9a58918ae9263",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5b7313b354518b0e",
        "type": "ui_group",
        "name": "temperature_window",
        "tab": "a9d9a58918ae9263",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0f4037e93a3d0626",
        "type": "ui_group",
        "name": "water_window",
        "tab": "a9d9a58918ae9263",
        "order": 7,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3baf9f54646316e4",
        "type": "ui_group",
        "name": "Mary Gold Window",
        "tab": "a9d9a58918ae9263",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "805e488a9f943934",
        "type": "ui_group",
        "name": "fetilizer_window",
        "tab": "a9d9a58918ae9263",
        "order": 8,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b61b37f135cdb1e",
        "type": "ui_group",
        "name": "status",
        "tab": "a9d9a58918ae9263",
        "order": 9,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e77efef5c32cb49f",
        "type": "ui_group",
        "name": "user",
        "tab": "a9d9a58918ae9263",
        "order": 5,
        "disp": false,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d11a13cd03ec2ec1",
        "type": "ui_tab",
        "name": "user_info",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "86e4957093b0dc64",
        "type": "ui_group",
        "name": "user_info",
        "tab": "d11a13cd03ec2ec1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1140a1c7bf26a5b1",
        "type": "ui_tab",
        "name": "weather_info",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5be484a48a197cce",
        "type": "ui_group",
        "name": "weather_info",
        "tab": "1140a1c7bf26a5b1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11d09addf47faad3",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "e73f19ab860fb9af",
        "order": 2,
        "width": "",
        "height": ""
    },
    {
        "id": "051949e78516df9c",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "fcd2a9620a5003c7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1520f4c4fbe684b7",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "fcd2a9620a5003c7",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "c0cd6360ab543a00",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "fcd2a9620a5003c7",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6b8bc8dd1b8bf41",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "0f4037e93a3d0626",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "dd8ade5bba887bd9",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "0f4037e93a3d0626",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "289373d0c0ae1683",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "805e488a9f943934",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "414574e3de402634",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "805e488a9f943934",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "3aa3b373fc2f7343",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "86e4957093b0dc64",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "ac8fc572be22bfbd",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "86e4957093b0dc64",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "6665f20672563d83",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "5be484a48a197cce",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "5cd9e373117a3933",
        "type": "ui_spacer",
        "z": "f265343e24ade8d5",
        "name": "spacer",
        "group": "5be484a48a197cce",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "d1f117ef0d8b8a5f",
        "type": "ui_form",
        "z": "f265343e24ade8d5",
        "name": "サインイン情報の入力",
        "label": "",
        "group": "00f6212109cb96d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "hostIP（demo）",
                "value": "hostIP",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "hostIP": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "14b312294c333306",
                "16f6a9fd87044cea"
            ]
        ]
    },
    {
        "id": "14b312294c333306",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let hostIP = msg.payload['hostIP']\nflow.set(\"hostIP\", hostIP)\nhostIP = flow.get(\"hostIP\")\nlet url = \"http://\" + hostIP + \":5000\"\nflow.set(\"url\",url)\n\nlet http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/signIn\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.user = msg.payload['username']\nmsg.payload = {\n    'username': msg.payload['username'],\n    'password': msg.payload['password']\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1220,
        "wires": [
            [
                "5baf03ef6a7f0149",
                "4921211d6833131d"
            ]
        ]
    },
    {
        "id": "5baf03ef6a7f0149",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1220,
        "wires": [
            [
                "c7d2ae75e177df6b",
                "5b5d2bcf3606fb3b"
            ]
        ]
    },
    {
        "id": "c7d2ae75e177df6b",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "サインインの可否を表示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3eb9e3d85b3d56a5",
        "type": "ui_form",
        "z": "f265343e24ade8d5",
        "name": "サインアップ情報の入力",
        "label": "",
        "group": "90f876c4dd9bf71f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "hostIP",
                "value": "hostIP",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "hostIP": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": false,
        "className": "signup-group",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "7f5d296b2fe9959b"
            ]
        ]
    },
    {
        "id": "7f5d296b2fe9959b",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "flow.set(\"hostIP\", msg.payload['hostIP'])\nlet hostIP = flow.get(\"hostIP\")\nlet url = \"http://\" + hostIP + \":5000\"\nflow.set(\"url\",url)\n\nlet http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/checkMailFromNodeRED\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = msg.payload['email']\nmsg.user = msg.payload.split('@')[0]\nmsg.domain = msg.payload.split('@')[1]\nmsg.payload = {\n    'user': msg.user,\n    'domain': msg.domain\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "25b9fb0d41261602",
                "fa49b948a9e4af2b"
            ]
        ]
    },
    {
        "id": "25b9fb0d41261602",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "e0f5ba62fa6d18aa",
                "b69beda5a7b923ea"
            ]
        ]
    },
    {
        "id": "e0f5ba62fa6d18aa",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "メールアドレス登録とワンタイムキー取得の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa49b948a9e4af2b",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "メールアドレスのユーザ部とドメイン部の分解の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "b69beda5a7b923ea",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "email認証番号の送信",
        "func": "if (msg.payload['state'] == \"already\"){\n    msg.to = msg.payload['mail']\n    msg.from = \"togenuts@gmail.com\"\n    msg.topic = \"Test\"\n    msg.onetimekey = 0\n    msg.key_list = [\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10))\n    ]\n    msg.one_time_key = \"\"\n    msg.key_list.forEach(function(key){\n        msg.one_time_key += key\n        key = null\n    })\n    msg.payload = \"this is your certificate key\\nType this number \\nnumber : \" + msg.one_time_key + \" \\nhttp://localhost/ui/#!/2?socketid=1eaPOoiUuY3u1rxtAAAD \\nthis is page to certificate your number !\"\n    return msg;\n}\nelse { \n    msg.payload = { 'message': \"Not already\" }\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            [
                "97bd0bb794f4091e",
                "e3630cad3cbef409",
                "dd72952a60b59614",
                "6afe63be3cd34527"
            ]
        ]
    },
    {
        "id": "97bd0bb794f4091e",
        "type": "e-mail",
        "z": "f265343e24ade8d5",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "ワンタイムキーとリンクを送信",
        "output": true,
        "outputs": 1,
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "aebf5925e4cd898e"
            ]
        ]
    },
    {
        "id": "7a569c632964bc1e",
        "type": "ui_form",
        "z": "f265343e24ade8d5",
        "name": "ユーザー情報の入力・送信",
        "label": "",
        "group": "e73f19ab860fb9af",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "[re]password",
                "value": "Repassword",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "Repassword": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 200,
        "y": 940,
        "wires": [
            [
                "79dd33d1fcc17749",
                "8c0ecfbd05ede5f8"
            ]
        ]
    },
    {
        "id": "8f70bd1999fab5f0",
        "type": "ui_form",
        "z": "f265343e24ade8d5",
        "name": "ワンタイムキーの確認",
        "label": "",
        "group": "fc0d382079b6fab5",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "certificate number",
                "value": "certnum",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "certnum": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "b07e2b599f5a6de5"
            ]
        ]
    },
    {
        "id": "443df22d52ed5d55",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 540,
        "wires": [
            [
                "fbc896ba6b1c9fa0"
            ]
        ]
    },
    {
        "id": "e3630cad3cbef409",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ワンタイムキーのJSONオブジェクトを生成",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/resister_otk\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'user': msg.user,\n    'domain': msg.domain,\n    'one_time_key': msg.one_time_key\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "443df22d52ed5d55",
                "507ea188a8efc66a"
            ]
        ]
    },
    {
        "id": "fbc896ba6b1c9fa0",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "データベース登録の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 540,
        "wires": []
    },
    {
        "id": "dd72952a60b59614",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "メールアドレスの再構築の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "507ea188a8efc66a",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "ワンタイムキーの生成の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 500,
        "wires": []
    },
    {
        "id": "6b62d8e778e17580",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 660,
        "wires": [
            [
                "52ab47925f241f64"
            ]
        ]
    },
    {
        "id": "b07e2b599f5a6de5",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/compare_one_time_key\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.certification = msg.payload['certnum']\nmsg.payload = {\n    'one_time_key': msg.certification\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "6b62d8e778e17580"
            ]
        ]
    },
    {
        "id": "26bd40d5c972e5fe",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "ワンタイムキーのチェック",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 740,
        "wires": []
    },
    {
        "id": "6afe63be3cd34527",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "メール送信通知のトースト前処理",
        "func": "msg.payload = \"Check it out\"\nmsg.topic = \"notify\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 580,
        "wires": [
            [
                "448ea2ced30e0620"
            ]
        ]
    },
    {
        "id": "448ea2ced30e0620",
        "type": "ui_toast",
        "z": "f265343e24ade8d5",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "You Get One Time Key",
        "name": "メール送信を報告するトースト",
        "x": 1450,
        "y": 580,
        "wires": []
    },
    {
        "id": "aebf5925e4cd898e",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "メール送信の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "622cc45fe0b81d4a",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "This is Login window CSS",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "a1867dcce1f03bde",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "change",
        "x": 1500,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "40d1ce9f8ddf8cef",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"user resister\"\n}",
        "output": "json",
        "x": 1360,
        "y": 820,
        "wires": [
            [
                "a1867dcce1f03bde"
            ]
        ]
    },
    {
        "id": "571f127a435881af",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "データ作成のリンク送信",
        "func": "if (msg.payload['state'] == \"success\"){\n    return msg;\n}\nelse { \n    msg.payload = { 'message': \"Not already\" }\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "40d1ce9f8ddf8cef"
            ]
        ]
    },
    {
        "id": "52ab47925f241f64",
        "type": "switch",
        "z": "f265343e24ade8d5",
        "name": "データべースの情報との比較による分岐",
        "property": "payload['state']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 660,
        "wires": [
            [
                "26bd40d5c972e5fe",
                "571f127a435881af",
                "b42b2ffc06b2a2d8",
                "1c6ff63cf4d07851"
            ],
            [
                "817da9abb98676c6"
            ]
        ]
    },
    {
        "id": "817da9abb98676c6",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ワンタイムキー再入力催促のトースト前処理",
        "func": "msg.payload = \"It may wrong...\"\nmsg.topic = \"Oops! That OneTimeKey doesn’t look right. Try again?\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 860,
        "wires": [
            [
                "ad0502b1380a944a"
            ]
        ]
    },
    {
        "id": "ad0502b1380a944a",
        "type": "ui_toast",
        "z": "f265343e24ade8d5",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ワンタイムキー再入力を催促するトースト",
        "x": 1590,
        "y": 860,
        "wires": []
    },
    {
        "id": "9aebd611ca9d9847",
        "type": "ui_toast",
        "z": "f265343e24ade8d5",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ユーザー情報の入力を催促するトースト",
        "x": 1580,
        "y": 780,
        "wires": []
    },
    {
        "id": "b42b2ffc06b2a2d8",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ワンタイムキー再入力催促のトースト前処理",
        "func": "msg.payload = \"Great!!\"\nmsg.topic = \"Next sign here!\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 780,
        "wires": [
            [
                "9aebd611ca9d9847"
            ]
        ]
    },
    {
        "id": "39aba1234982a53b",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 980,
        "wires": [
            [
                "46eb8ebcb292b302",
                "ca22c14123f8fc1c",
                "979857c9930f634f"
            ]
        ]
    },
    {
        "id": "9920a525c1738b9e",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let http = flow.get(\"url\")\nmsg.username = msg.payload['username']\n\nmsg.method = \"GET\";\nmsg.url = http + \"/resister_Userinfo\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\n\n\n\nmsg.payload = {\n    'username': msg.payload['username'],\n    'password': msg.payload['password'],\n    'email-user': flow.get(\"email-user\"),\n    'email-domain': flow.get(\"email-domain\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 960,
        "wires": [
            [
                "39aba1234982a53b",
                "8f1197d4c2791044"
            ]
        ]
    },
    {
        "id": "79dd33d1fcc17749",
        "type": "switch",
        "z": "f265343e24ade8d5",
        "name": "パスワードの正誤",
        "property": "payload['password']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload['Repassword']",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "payload['Repassword']",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "9920a525c1738b9e"
            ],
            [
                "39ab4bba03db8b82"
            ]
        ]
    },
    {
        "id": "39ab4bba03db8b82",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ワンタイムキー再入力催促のトースト前処理",
        "func": "msg.payload = \"It may wrong...\"\nmsg.topic = \"Oops! That password doesn’t look right. Try again?\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1020,
        "wires": [
            [
                "48eb171ec6c4ae09"
            ]
        ]
    },
    {
        "id": "48eb171ec6c4ae09",
        "type": "ui_toast",
        "z": "f265343e24ade8d5",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ワンタイムキー再入力を催促するトースト",
        "x": 1130,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8f1197d4c2791044",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 940,
        "wires": []
    },
    {
        "id": "8c0ecfbd05ede5f8",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 940,
        "wires": []
    },
    {
        "id": "1c6ff63cf4d07851",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 4",
        "func": "msg.payload = msg.payload['email']\nvar str = msg.payload\nvar arr = str.split(\"@\");\n\nmsg.payload = arr\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 660,
        "wires": [
            [
                "b0609adeb887c756",
                "3e57a559f7ec237f"
            ]
        ]
    },
    {
        "id": "3e57a559f7ec237f",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 5",
        "func": "flow.set('email-user', msg.payload[0])\nflow.set('email-domain', msg.payload[1])\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 660,
        "wires": [
            [
                "89f12370693e2ab5"
            ]
        ]
    },
    {
        "id": "b0609adeb887c756",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 700,
        "wires": []
    },
    {
        "id": "89f12370693e2ab5",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 660,
        "wires": []
    },
    {
        "id": "46eb8ebcb292b302",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 940,
        "wires": []
    },
    {
        "id": "ca22c14123f8fc1c",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 6",
        "func": "flow.set(\"email-user\",undefined)\nflow.set(\"email-domain\", undefined)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "2a88cb151aabb495",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "サインアップ（メールアドレス認証）",
        "info": "",
        "x": 230,
        "y": 300,
        "wires": []
    },
    {
        "id": "d4b0f4a0d69cd66a",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "サインアップ（ワンタイムキー認証）",
        "info": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "5bfe77f971f61782",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "サインアップ（登録情報の入力）",
        "info": "",
        "x": 210,
        "y": 900,
        "wires": []
    },
    {
        "id": "3288976c09ead806",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "サインイン（入力情報認証）",
        "info": "",
        "x": 200,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4921211d6833131d",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1260,
        "wires": []
    },
    {
        "id": "85b53e5c74ded185",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "change",
        "x": 1020,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "86d9a2bdf7538065",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"Application1\"\n}",
        "output": "json",
        "x": 880,
        "y": 1300,
        "wires": [
            [
                "85b53e5c74ded185"
            ]
        ]
    },
    {
        "id": "5b5d2bcf3606fb3b",
        "type": "switch",
        "z": "f265343e24ade8d5",
        "name": "",
        "property": "payload['state']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 1300,
        "wires": [
            [
                "86d9a2bdf7538065",
                "662621c250ab9afa"
            ],
            [
                "4bddd41e3286c419"
            ]
        ]
    },
    {
        "id": "4bddd41e3286c419",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "サインインを再度求めるトースト",
        "func": "msg.payload = \"It may wrong...\"\nmsg.topic = \"Oops! That password or username doesn’t look right. Try again?\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1340,
        "wires": [
            [
                "00ef79ad204d9545"
            ]
        ]
    },
    {
        "id": "00ef79ad204d9545",
        "type": "ui_toast",
        "z": "f265343e24ade8d5",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ワンタイムキー再入力を催促するトースト",
        "x": 1290,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3f6ff49c2db0c803",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "アプリ画面（demo）",
        "info": "",
        "x": 180,
        "y": 1400,
        "wires": []
    },
    {
        "id": "5aa97bb951dd62bf",
        "type": "ui_template",
        "z": "f265343e24ade8d5",
        "group": "81b1bdc3.9a60b8",
        "name": "CSS-Basics",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    * {\n        background: none;\n        background-repeat: no-repeat;\n    }\n\n    root, a, button, p, div {\n        -webkit-user-select: none !important;\n    }\n\n    ui-card-panel {\n        background-color: rgba(250, 250, 250, 0.2) !important;\n        border: none !important;\n        border-radius: 10px !important;\n        /*        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n    */\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: none !important;\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel button {\n        background: none !important;\n    }\n\n    p.nr-dashboard-cardtitle {\n        text-align: center !important;\n    }\n\n\n    button, html, input, select, textarea  {\n        font-family: Roboto, Helvetica Neue, sans-serif;\n    }\n\n    md-toolbar {\n        background: none !important;\n    }\n\n    md-sidenav {\n        background: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n    }\n\n    md-card.nr-dashboard-button * {\n        background: none !important;\n        box-shadow: none !important;\n    }\n\n    md-card.nr-dashboard-template * {\n        background: none !important;\n    }\n\n\n    body {\n        background: transparent;\n        \n        background: linear-gradient(\n            45deg,\n            #9900d3,\n            #4b0082,\n            #8a2be2,\n            #4169e1,\n            #ffff00\n        );\n        \n        width: 100%;\n        height: 100vh;\n        background-size: 200% 200% !important;/*サイズを大きくひきのばす*/\n        background-position: 0% 50%;\n        animation: bggradient 10s ease infinite;\n        \n        -webkit-touch-callout: none !important;\n        color: #ffffff !important;\n        padding-top:5px !important;\n    }\n        \n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {}\n    \n    @keyframes bggradient{\n        0% {\n            background-position: 0% 50%;\n        }\n        25%{\n            background-position: 50% 100%;\n        }\n        50% {\n            background-position: 100% 50%;\n        }\n        75%{\n            background-position: 50% 100%;\n        }\n        100% {\n            background-position: 0% 50%;\n        }\n    }\n    \n    .nr-dashboard-cardpanel > p {\n        max-height: 32px;\n        min-height: 32px;\n        margin-left: 6px !important;\n        margin-right: 6px !important;\n        margin-top: 10px;\n        margin-bottom: 12px;\n        font-weight: 500;\n        font-size: larger;\n    }\n\n    button.md-raised.nr-dashboard-form-button.md-button.md-ink-ripple {\n        border-radius: 20px;\n    }\n    \n    .nr-dashboard-template {\n        padding: 0px;\n    }\n\n    .test {\n        text-align: center;\n    }\n\n    div#Application1_status_cards {\n    height: 100px !important;\n    }\n\n    /*\n    .test {\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    width: 100%; \n    height: 300px;\n    }\n    */\n\n    /*\n    .test img {\n        max-width: 100%;\n        max-height: 100%;\n    }\n    */\n\n    .test {\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    width: 100%;\n    height: 760px;\n    }\n\n    .test img {\n    max-width: 100%;\n    max-height: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "041145e5e60a8e45",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<style>\n    * {\n        background: none;\n        background-repeat: no-repeat;\n    }\n\n    root,\n    a,\n    button,\n    p,\n    div {\n        -webkit-user-select: none !important;\n    }\n\n    ui-card-panel {\n        background-color: rgba(250, 250, 250, 0.2) !important;\n        border: none !important;\n        border-radius: 10px !important;\n        /*        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n    */\n    }\n    \n    p.nr-dashboard-cardtitle {\n        text-align: center !important;\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: none !important;\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel button {\n        background: none !important;\n    }\n\n    md-toolbar {\n        background: none !important;\n    }\n\n    md-sidenav {\n        background: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n    }\n\n    md-card.nr-dashboard-button * {\n        background: none !important;\n        box-shadow: none !important;\n    }\n\n    md-card.nr-dashboard-template * {\n        background: none !important;\n    }\n\n\n    body {\n        background: transparent;\n\n        background: linear-gradient(\n            45deg,\n            {{payload_1}},\n            {{payload_2}},\n            {{payload_3}},\n            {{payload_4}}\n        );\n\n        width: 100%;\n        height: 100vh;\n        background-size: 200% 200% !important;\n        /*サイズを大きくひきのばす*/\n        background-position: 0% 50%;\n        animation: bggradient 30s ease infinite;\n\n        -webkit-touch-callout: none !important;\n        color: #ffffff !important;\n        padding-top: 5px !important;\n    }\n\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {}\n\n    @keyframes bggradient {\n        0% {\n            background-position: 0% 50%;\n        }\n\n        25% {\n            background-position: 50% 100%;\n        }\n\n        50% {\n            background-position: 100% 50%;\n        }\n\n        75% {\n            background-position: 50% 100%;\n        }\n\n        100% {\n            background-position: 0% 50%;\n        }\n    }\n    .nr-dashboard-cardpanel > p {\n        max-height: 32px;\n        min-height: 32px;\n        margin-left: 6px !important;\n        margin-right: 6px !important;\n        margin-top: 10px;\n        margin-bottom: 12px;\n        font-weight: 500;\n        font-size: larger;\n    }\n\n    button.md-raised.nr-dashboard-form-button.md-button.md-ink-ripple {\n        border-radius: 20px;\n    }\n\n    .nr-dashboard-template {\n        padding: 0px;\n    }\n\n    .test {\n        text-align: center;\n    }\n\n    div#Application1_status_cards {\n        height: 100px !important;\n    }\n    /*\n    .test {\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    width: 100%; \n    height: 300px;\n    }\n    */\n\n    /*\n    .test img {\n        max-width: 100%;\n        max-height: 100%;\n    }\n    */\n\n    .test {\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    width: 100%;\n    height: 760px;\n    }\n\n    .test img {\n    max-width: 100%;\n    max-height: 100%;\n    }\n</style>",
        "output": "str",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "5aa97bb951dd62bf"
            ]
        ]
    },
    {
        "id": "927d82c47b8cdb0e",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 7",
        "func": "const pallet = '0123456789ABCDEF'\n\nfunction colorget(){\n    const color_array = [\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16))\n    ]\n\n    let color = \"#\"\n\n    color_array.forEach(function(item) {\n        color += pallet[item]\n        item = null\n    });\n\n    return color;\n}\n\n\nmsg.payload_1 = colorget()\nmsg.payload_2 = colorget()\nmsg.payload_3 = colorget()\nmsg.payload_4 = colorget()\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "041145e5e60a8e45"
            ]
        ]
    },
    {
        "id": "b9102ca00f549482",
        "type": "inject",
        "z": "f265343e24ade8d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "927d82c47b8cdb0e",
                "86a1dc188e354287"
            ]
        ]
    },
    {
        "id": "970af09487d5b660",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "backgroundColorandom",
        "group": "e77efef5c32cb49f",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "change color",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "color_lens",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "f5aa0a9fb663163f"
            ]
        ]
    },
    {
        "id": "b4857d60b0c65a0d",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 1",
        "links": [
            "f5aa0a9fb663163f"
        ],
        "x": 185,
        "y": 220,
        "wires": [
            [
                "927d82c47b8cdb0e"
            ]
        ]
    },
    {
        "id": "f5aa0a9fb663163f",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b4857d60b0c65a0d"
        ],
        "x": 385,
        "y": 1500,
        "wires": []
    },
    {
        "id": "52a8c3aeebbd0639",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "Airocoデータ取得",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/getAirocoData\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1500,
        "wires": [
            [
                "65186a485edbf8cb"
            ]
        ]
    },
    {
        "id": "f462024b04a142d9",
        "type": "inject",
        "z": "f265343e24ade8d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 1500,
        "wires": [
            [
                "52a8c3aeebbd0639"
            ]
        ]
    },
    {
        "id": "65186a485edbf8cb",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 1500,
        "wires": [
            [
                "6d91d43b05d36cd8",
                "f1943873748ac336",
                "2eb5b3ee1f1aa275"
            ]
        ]
    },
    {
        "id": "6d91d43b05d36cd8",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "requestの中身を確認",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1480,
        "wires": []
    },
    {
        "id": "09af6f25e802338a",
        "type": "ui_gauge",
        "z": "f265343e24ade8d5",
        "name": "co2",
        "group": "6229a5b6866e8146",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "",
        "format": "{{value}}㏙",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 1580,
        "wires": []
    },
    {
        "id": "0701e01606513093",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "co2に加工",
        "func": "msg.payload = msg.payload['co2']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1580,
        "wires": [
            [
                "70345e8fff179cc9",
                "09af6f25e802338a"
            ]
        ]
    },
    {
        "id": "b33439afbe97f0e5",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "humに加工",
        "func": "msg.payload = msg.payload['humidity']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1660,
        "wires": [
            [
                "6ec4aee84f9afa60",
                "bafc561ed88546b3"
            ]
        ]
    },
    {
        "id": "be6c360423ff80ba",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "tmpに加工",
        "func": "msg.payload = msg.payload['temperature']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1740,
        "wires": [
            [
                "82953b9f43f2ebc2",
                "f6703a318763880f"
            ]
        ]
    },
    {
        "id": "bafc561ed88546b3",
        "type": "ui_gauge",
        "z": "f265343e24ade8d5",
        "name": "humidity",
        "group": "fcd2a9620a5003c7",
        "order": 6,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 1660,
        "wires": []
    },
    {
        "id": "f6703a318763880f",
        "type": "ui_gauge",
        "z": "f265343e24ade8d5",
        "name": "temperature",
        "group": "5b7313b354518b0e",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "",
        "format": "{{value | number:1}}℃",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1490,
        "y": 1740,
        "wires": []
    },
    {
        "id": "70345e8fff179cc9",
        "type": "ui_chart",
        "z": "f265343e24ade8d5",
        "name": "co2_chart",
        "group": "6229a5b6866e8146",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df80",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1480,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "82953b9f43f2ebc2",
        "type": "ui_chart",
        "z": "f265343e24ade8d5",
        "name": "temperature chart",
        "group": "5b7313b354518b0e",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1510,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "6ec4aee84f9afa60",
        "type": "ui_chart",
        "z": "f265343e24ade8d5",
        "name": "humidity chart",
        "group": "fcd2a9620a5003c7",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "4abfbed07092ca64",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "water_button",
        "group": "0f4037e93a3d0626",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "feed water",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1640,
        "wires": [
            [
                "5b498f58c0785323"
            ]
        ]
    },
    {
        "id": "6f523d6a863af913",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "fetilizer_button",
        "group": "805e488a9f943934",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "feed fertilizer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1720,
        "wires": [
            [
                "74114f8e81357a1a"
            ]
        ]
    },
    {
        "id": "7af207b94d00892f",
        "type": "ui_gauge",
        "z": "f265343e24ade8d5",
        "name": "fertilizer_gauge",
        "group": "805e488a9f943934",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#2ead14"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ee43e1ca726c82dc",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "背景色の変化",
        "info": "",
        "x": 190,
        "y": 1460,
        "wires": []
    },
    {
        "id": "222c373844e0de4c",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "データベースからデータ取得",
        "info": "",
        "x": 540,
        "y": 1460,
        "wires": []
    },
    {
        "id": "763f49f59112828e",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "水やり機能と肥料機能（未実装）",
        "info": "",
        "x": 250,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ab095cc52066e4d6",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "マリーゴールド表示",
        "info": "",
        "x": 210,
        "y": 1940,
        "wires": []
    },
    {
        "id": "780d856e0f05cba1",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "マリーゴールドの状態表示",
        "info": "",
        "x": 970,
        "y": 2440,
        "wires": []
    },
    {
        "id": "0c40a6af8d012b84",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "ユーザー情報の表示",
        "info": "",
        "x": 210,
        "y": 2120,
        "wires": []
    },
    {
        "id": "72ff0322ccc1cd83",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "305fbce533cda90b",
            "7e09d71e5e5a204c",
            "cb4ecce6710c0e7a"
        ],
        "x": 1035,
        "y": 1260,
        "wires": []
    },
    {
        "id": "305fbce533cda90b",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 2",
        "links": [
            "72ff0322ccc1cd83"
        ],
        "x": 135,
        "y": 2140,
        "wires": [
            [
                "232201aa3d3a3474",
                "c4d459c80f5b2a04",
                "6c89920424890a6e",
                "3ac1b2d94133f3af"
            ]
        ]
    },
    {
        "id": "662621c250ab9afa",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "usernameを格納",
        "func": "msg.payload = msg.user\nmsg.topic = msg.user\nflow.set(\"username\", msg.user);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1260,
        "wires": [
            [
                "72ff0322ccc1cd83",
                "29ca7ea7fbadd1f7"
            ]
        ]
    },
    {
        "id": "29ca7ea7fbadd1f7",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1220,
        "wires": []
    },
    {
        "id": "232201aa3d3a3474",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/getflowerData\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'username': msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2240,
        "wires": [
            [
                "d8835e92eaa8ecad",
                "c2e19855206ac6f0"
            ]
        ]
    },
    {
        "id": "c2e19855206ac6f0",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 2240,
        "wires": [
            [
                "31b00cf3264947d6",
                "0e771c28f071cbea",
                "cd5bcaada422fa59",
                "08d4a34e064ed970"
            ]
        ]
    },
    {
        "id": "d8835e92eaa8ecad",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2280,
        "wires": []
    },
    {
        "id": "31b00cf3264947d6",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 2180,
        "wires": []
    },
    {
        "id": "f1943873748ac336",
        "type": "switch",
        "z": "f265343e24ade8d5",
        "name": "",
        "property": "payload['state']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 1520,
        "wires": [
            [
                "0701e01606513093",
                "b33439afbe97f0e5",
                "be6c360423ff80ba",
                "b6a532935eb5048d"
            ],
            [
                "70c31a32c288beef"
            ]
        ]
    },
    {
        "id": "70c31a32c288beef",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "失敗原因の確認",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1580,
        "wires": []
    },
    {
        "id": "0e771c28f071cbea",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 11",
        "func": "msg.payload = msg.payload['fertilizer']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2300,
        "wires": [
            [
                "d7259c7944d840f1"
            ]
        ]
    },
    {
        "id": "7793f663ec14a04e",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "water注入",
        "links": [
            "2253183a55c24a58"
        ],
        "x": 385,
        "y": 1600,
        "wires": [
            [
                "b25b26be734227c2"
            ]
        ]
    },
    {
        "id": "45a575a17c5d8ca7",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "fertilizer注入",
        "links": [
            "d7259c7944d840f1"
        ],
        "x": 385,
        "y": 1760,
        "wires": [
            [
                "7af207b94d00892f"
            ]
        ]
    },
    {
        "id": "d7259c7944d840f1",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "45a575a17c5d8ca7"
        ],
        "x": 875,
        "y": 2200,
        "wires": []
    },
    {
        "id": "cd5bcaada422fa59",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 12",
        "func": "msg.payload = msg.payload['water']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2260,
        "wires": [
            [
                "2253183a55c24a58"
            ]
        ]
    },
    {
        "id": "2253183a55c24a58",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "7793f663ec14a04e"
        ],
        "x": 875,
        "y": 2160,
        "wires": []
    },
    {
        "id": "b25b26be734227c2",
        "type": "ui_gauge",
        "z": "f265343e24ade8d5",
        "name": "water_gauge",
        "group": "0f4037e93a3d0626",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#2ead14"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 1640,
        "wires": []
    },
    {
        "id": "9fa914abc767af82",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "花の状態を注入",
        "links": [
            "12850c29bba4ad45"
        ],
        "x": 895,
        "y": 2560,
        "wires": [
            [
                "5eace512826abc64",
                "78d99abd748c28f8",
                "e62be8ea524fac77",
                "1347fef563d79cb0",
                "27b5697bc7e7527d"
            ]
        ]
    },
    {
        "id": "08d4a34e064ed970",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 13",
        "func": "msg.payload = msg.payload['state']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2220,
        "wires": [
            [
                "74b6ce09778661ad"
            ]
        ]
    },
    {
        "id": "74b6ce09778661ad",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 5",
        "mode": "link",
        "links": [],
        "x": 875,
        "y": 2120,
        "wires": []
    },
    {
        "id": "797dcb443aa41daf",
        "type": "ui_template",
        "z": "f265343e24ade8d5",
        "group": "3baf9f54646316e4",
        "name": "メインウィンドウ",
        "order": 1,
        "width": 8,
        "height": 9,
        "format": "<div class=\"test\">\n    <img src=\"http://localhost:1880/image/999.png\" alt=\"msg.image\" id=\"flower\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "c4d459c80f5b2a04",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "tooltipを設定",
        "func": "let user = String(msg.user)\n\n//msg.tooltip = user\n\nmsg.tooltip = flow.get(\"username\");\n\n// {{tooltip}}は動的に変化しないことが発覚した\n// したがってtooltip自体はuser_infoという静的な表記に変更した．\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 2160,
        "wires": [
            [
                "0c07d6c48a7a332b",
                "9d07eb0ad65c54e4"
            ]
        ]
    },
    {
        "id": "0c07d6c48a7a332b",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 2120,
        "wires": []
    },
    {
        "id": "6c89920424890a6e",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ui設定",
        "func": "msg.payload = {\n    group:{\n        hide:[\"Application_temperature_window\",\"Application_humidity_window\",\"Application_fetilizer_window\" ],\n        show:[\"Application_temperature_window\",\"Application_humidity_window\",\"Application_co2_window\", \"Application_fetilizer_window\", \"Application_water_window\"],\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 2200,
        "wires": [
            [
                "2cc8828a27eb1faf"
            ]
        ]
    },
    {
        "id": "2cc8828a27eb1faf",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "change",
        "x": 400,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "d89871475b084ab8",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Totemperature",
        "group": "6229a5b6866e8146",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "temperature",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "temperature_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2700,
        "wires": [
            [
                "44776a609d436e10"
            ]
        ]
    },
    {
        "id": "20ea4ebe33149fb5",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Tohumidity",
        "group": "6229a5b6866e8146",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "humidity",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "humidity_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 2480,
        "wires": [
            [
                "c9515d9d7a5f2ffb"
            ]
        ]
    },
    {
        "id": "189c99af03765ee2",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Toco2",
        "group": "5b7313b354518b0e",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "co2",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "co2_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 2520,
        "wires": [
            [
                "c9515d9d7a5f2ffb"
            ]
        ]
    },
    {
        "id": "e3e4c1be201d1fe9",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Tohumidity",
        "group": "5b7313b354518b0e",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "humidity",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "humidity_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 2620,
        "wires": [
            [
                "44776a609d436e10"
            ]
        ]
    },
    {
        "id": "62d3e6582d6f1f4d",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Totemperature",
        "group": "fcd2a9620a5003c7",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "temperature",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "temperature_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2560,
        "wires": [
            [
                "c9515d9d7a5f2ffb"
            ]
        ]
    },
    {
        "id": "5861c46d70e226ea",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Toco2",
        "group": "fcd2a9620a5003c7",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "co2",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "co2_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 2660,
        "wires": [
            [
                "44776a609d436e10"
            ]
        ]
    },
    {
        "id": "c9515d9d7a5f2ffb",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ui設定",
        "func": "const nowGroupList = {\n    \"humidity_window\":\"co2_window\",\n    \"co2_window\":\"temperature_window\",\n    \"temperature_window\":\"humidity_window\"\n}\n\n\nlet nowGroup = nowGroupList[msg.payload]\nlet nextGroup = msg.payload\n\nlet hide_message = \"Application1_\" + nowGroup\nlet show_message = \"Application1_\" + nextGroup\n\n\nmsg.payload = {\n    \"group\":{\n        \"hide\":[hide_message],\n        \"show\":[show_message]\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2520,
        "wires": [
            [
                "59c2c577fd8d4976",
                "c53e14543f7c694c"
            ]
        ]
    },
    {
        "id": "44776a609d436e10",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ui設定",
        "func": "\nconst nowGroupList = {\n    \"temperature_window\": \"co2_window\",\n    \"co2_window\": \"humidity_window\",\n    \"humidity_window\": \"temperature_window\"\n}\n\n\nlet nowGroup = nowGroupList[msg.payload]\nlet nextGroup = msg.payload\n\nlet hide_message = \"Application1_\" + nowGroup\nlet show_message = \"Application1_\" + nextGroup\n\nmsg.payload = {\n    \"group\": {\n        \"hide\": [hide_message],\n        \"show\": [show_message]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2660,
        "wires": [
            [
                "c53e14543f7c694c"
            ]
        ]
    },
    {
        "id": "ec2745160ebf36a3",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2520,
        "wires": []
    },
    {
        "id": "59c2c577fd8d4976",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2480,
        "wires": []
    },
    {
        "id": "c53e14543f7c694c",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "change",
        "x": 520,
        "y": 2520,
        "wires": [
            [
                "ec2745160ebf36a3"
            ]
        ]
    },
    {
        "id": "099969735e065b58",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "環境グラフの遷移構造",
        "info": "",
        "x": 220,
        "y": 2440,
        "wires": []
    },
    {
        "id": "03848b789dea044c",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "フィーディングの遷移構造",
        "info": "",
        "x": 1210,
        "y": 1880,
        "wires": []
    },
    {
        "id": "1d68aa94b4d037f0",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Tofetilizer",
        "group": "0f4037e93a3d0626",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "fetilizer",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "fetilizer_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1160,
        "y": 1920,
        "wires": [
            [
                "717a297aaae3ac74"
            ]
        ]
    },
    {
        "id": "aee990b0cd71d9e4",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "Towater",
        "group": "805e488a9f943934",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "water",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "water_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1160,
        "y": 1960,
        "wires": [
            [
                "717a297aaae3ac74"
            ]
        ]
    },
    {
        "id": "717a297aaae3ac74",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ui設定",
        "func": "const nowGroupList = {\n    \"water_window\":\"fetilizer_window\",\n    \"fetilizer_window\":\"water_window\"\n}\n\n\nlet nowGroup = nowGroupList[msg.payload]\nlet nextGroup = msg.payload\n\nlet hide_message = \"Application1_\" + nowGroup\nlet show_message = \"Application1_\" + nextGroup\n\n\nmsg.payload = {\n    \"group\":{\n        \"hide\":[hide_message],\n        \"show\":[show_message]\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1940,
        "wires": [
            [
                "78086d7180e3a8fa"
            ]
        ]
    },
    {
        "id": "78086d7180e3a8fa",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "フィーディングの遷移を行う",
        "events": "change",
        "x": 1540,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "9d07eb0ad65c54e4",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "ユーザー",
        "group": "e77efef5c32cb49f",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "{{tooltip}}",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "person",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 2160,
        "wires": [
            [
                "2b5ff24728642bc9"
            ]
        ]
    },
    {
        "id": "3ac1b2d94133f3af",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 2280,
        "wires": []
    },
    {
        "id": "e863068f481a7d00",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1570,
        "y": 2160,
        "wires": [
            [
                "a24ef7b241d7c41f",
                "55c91d08f1262ab6",
                "0e431aea2e2980b8"
            ]
        ]
    },
    {
        "id": "976dcdd33162f431",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "天気情報の取得",
        "info": "",
        "x": 1180,
        "y": 2020,
        "wires": []
    },
    {
        "id": "a24ef7b241d7c41f",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 2160,
        "wires": []
    },
    {
        "id": "ff34841146f06388",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/getWeatherData\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'weather_code': msg.weather_code\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2160,
        "wires": [
            [
                "e863068f481a7d00"
            ]
        ]
    },
    {
        "id": "1e3dfcc791de3bff",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.jma.go.jp/bosai/forecast/data/forecast/230000.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1390,
        "y": 2100,
        "wires": [
            [
                "d8cedb2168199891"
            ]
        ]
    },
    {
        "id": "d8cedb2168199891",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 22",
        "func": "msg.weather_code = msg.payload[0]['timeSeries'][0]['areas'][1]['weatherCodes'][0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 2100,
        "wires": [
            [
                "13ef8ef4223fed08",
                "ff34841146f06388"
            ]
        ]
    },
    {
        "id": "13ef8ef4223fed08",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "weather_code",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 2060,
        "wires": []
    },
    {
        "id": "8d7d2db381a6de1f",
        "type": "inject",
        "z": "f265343e24ade8d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1210,
        "y": 2060,
        "wires": [
            [
                "1e3dfcc791de3bff",
                "6066ac95e9eaea77"
            ]
        ]
    },
    {
        "id": "cb4ecce6710c0e7a",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 3",
        "links": [
            "72ff0322ccc1cd83"
        ],
        "x": 1285,
        "y": 2100,
        "wires": [
            [
                "1e3dfcc791de3bff"
            ]
        ]
    },
    {
        "id": "af411be8c9db6b27",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "天気アイコンを出力",
        "group": "e77efef5c32cb49f",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "{{tooltip}}",
        "color": "{{color}}",
        "bgcolor": "",
        "className": "",
        "icon": "{{icon}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1960,
        "y": 2200,
        "wires": [
            [
                "53c2988acff02071"
            ]
        ]
    },
    {
        "id": "55c91d08f1262ab6",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 23",
        "func": "let code = msg.payload.code\nlet img\n\nif (code < 499) img = \"ac_unit\";\nif (code < 399) img = \"grain\";\nif (code < 299) img = \"wb_cloudy\";\nif (code < 199) img = \"wb_sunny\";\n\nmsg.icon = img\nmsg.tooltip = msg.payload['explanation']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 2200,
        "wires": [
            [
                "af411be8c9db6b27"
            ]
        ]
    },
    {
        "id": "b6a532935eb5048d",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let http = flow.get(\"url\")\nmsg.environment = msg.payload\n\nmsg.method = \"GET\";\nmsg.url = http + \"/getFlowerStateFromDB\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    username:flow.get(\"username\")\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1500,
        "wires": [
            [
                "e40c70d80339ac1d"
            ]
        ]
    },
    {
        "id": "f3083096c95ef9c5",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1610,
        "y": 1500,
        "wires": [
            [
                "ef78f9217b646662",
                "e8c6efb1fccb3298"
            ]
        ]
    },
    {
        "id": "ef78f9217b646662",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "マリーゴールドの成長判定に使用する全パラメータを整理",
        "func": "msg.water = msg.payload['water']\nmsg.status = msg.payload['flower_status']\nmsg.fetilizer = msg.payload['fertilizer']\nmsg.livet = msg.payload['live_time']\nmsg.droopt = msg.payload['droop_time']\nmsg.withert = msg.payload['wither_time']\nmsg.deatht = msg.payload['death_time']\nmsg.allInStatet = msg.payload['in_the_status_time']\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1540,
        "wires": [
            [
                "76cb52d5d0daefee",
                "12850c29bba4ad45"
            ]
        ]
    },
    {
        "id": "ee2723d8811c4627",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "アイコン選定",
        "func": "let status = msg.status\n\nstatus = Math.round(status/10)\n\nif (status == 0) {msg.icon = \"bubble_chart\"; msg.tooltip = \"Lv.0\"}\nif (status == 1) {msg.icon = \"expand_more\"; msg.tooltip = \"Lv.1\"}\nif (status == 2) {msg.icon = \"arrow_downward\"; msg.tooltip = \"Lv.2\"}\nif (status == 3) {msg.icon = \"nature\"; msg.tooltip = \"Lv.3\"}\nif (status == 4) {msg.icon = \"spa\"; msg.tooltip = \"Lv.4\"}\nif (status == 5) {msg.icon = \"local_florist\"; msg.tooltip = \"Lv.5(Max)\"}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 2680,
        "wires": [
            [
                "1debe4da2c0a3a72",
                "06513570be441027"
            ]
        ]
    },
    {
        "id": "76cb52d5d0daefee",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 1540,
        "wires": []
    },
    {
        "id": "12850c29bba4ad45",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "ec0bb698b24824da",
            "3135daeb94c2db9b",
            "9fa914abc767af82",
            "18c9d25e9014bd5a",
            "c95b021835d0918d"
        ],
        "x": 1715,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ec0bb698b24824da",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 4",
        "links": [
            "12850c29bba4ad45"
        ],
        "x": 505,
        "y": 2100,
        "wires": [
            [
                "b0b7f71570066553",
                "40a1870f5b106e92",
                "4237462759570680"
            ]
        ]
    },
    {
        "id": "e8c6efb1fccb3298",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 1500,
        "wires": []
    },
    {
        "id": "4237462759570680",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 26",
        "func": "msg.payload = msg.fetilizer\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2140,
        "wires": [
            [
                "d7259c7944d840f1"
            ]
        ]
    },
    {
        "id": "40a1870f5b106e92",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 27",
        "func": "msg.payload = msg.water\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2100,
        "wires": [
            [
                "2253183a55c24a58"
            ]
        ]
    },
    {
        "id": "b0b7f71570066553",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 28",
        "func": "msg.payload = msg.status\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2060,
        "wires": [
            [
                "74b6ce09778661ad"
            ]
        ]
    },
    {
        "id": "5b498f58c0785323",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "toMax",
        "func": "msg.payload = 100\nmsg.which = \"water\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1640,
        "wires": [
            [
                "b25b26be734227c2",
                "5a50fc5d8183f75a"
            ]
        ]
    },
    {
        "id": "74114f8e81357a1a",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "toMax",
        "func": "msg.payload = 100\nmsg.which = \"fertilizer\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1720,
        "wires": [
            [
                "7af207b94d00892f",
                "5a50fc5d8183f75a"
            ]
        ]
    },
    {
        "id": "5a50fc5d8183f75a",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "ボタンの結果を反映",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/setWaterAndFrtilizer\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nif (msg.which == \"water\"){\n    msg.payload = {\n        water:100,\n        which:\"water\",\n        username:flow.get(\"username\")\n    };\n}\nif(msg.which == \"fertilizer\"){\n    msg.payload = {\n        fertilizer:100,\n        which:\"fertilizer\",\n        username:flow.get(\"username\")\n    };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1680,
        "wires": [
            [
                "755d22f6cece3e03"
            ]
        ]
    },
    {
        "id": "755d22f6cece3e03",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 1680,
        "wires": [
            [
                "2a552f38b2970891",
                "56a6daaed029b2d1"
            ]
        ]
    },
    {
        "id": "e40c70d80339ac1d",
        "type": "switch",
        "z": "f265343e24ade8d5",
        "name": "",
        "property": "payload['username']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1470,
        "y": 1500,
        "wires": [
            [
                "4c0b747e7eb46cd8"
            ],
            [
                "f3083096c95ef9c5"
            ]
        ]
    },
    {
        "id": "4c0b747e7eb46cd8",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3135daeb94c2db9b",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 5",
        "links": [
            "12850c29bba4ad45"
        ],
        "x": 895,
        "y": 2680,
        "wires": [
            [
                "ee2723d8811c4627"
            ]
        ]
    },
    {
        "id": "1debe4da2c0a3a72",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "状態を画像で表示",
        "group": "e77efef5c32cb49f",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "{{tooltip}}",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "{{icon}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1230,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "2a552f38b2970891",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 7",
        "mode": "link",
        "links": [],
        "x": 835,
        "y": 1680,
        "wires": []
    },
    {
        "id": "b8441b236cead2d8",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 6",
        "links": [],
        "x": 605,
        "y": 1540,
        "wires": [
            [
                "52a8c3aeebbd0639"
            ]
        ]
    },
    {
        "id": "56a6daaed029b2d1",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1720,
        "wires": []
    },
    {
        "id": "06513570be441027",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 2720,
        "wires": []
    },
    {
        "id": "5eace512826abc64",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "8b61b37f135cdb1e",
        "order": 1,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "growing",
        "format": "{{msg.livet}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 2480,
        "wires": []
    },
    {
        "id": "e62be8ea524fac77",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "8b61b37f135cdb1e",
        "order": 3,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "Withering",
        "format": "{{msg.withert}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 2560,
        "wires": []
    },
    {
        "id": "1347fef563d79cb0",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "8b61b37f135cdb1e",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "Diyng",
        "format": "{{msg.deatht}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 2600,
        "wires": []
    },
    {
        "id": "27b5697bc7e7527d",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "8b61b37f135cdb1e",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "Sumation",
        "format": "{{msg.allInStatet}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 2640,
        "wires": []
    },
    {
        "id": "78d99abd748c28f8",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "8b61b37f135cdb1e",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "Drooping",
        "format": "{{msg.droopt}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 2520,
        "wires": []
    },
    {
        "id": "8b7beea53b63be06",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "更新した時刻",
        "group": "e77efef5c32cb49f",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "{{timestamp}}",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "alarm",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "18c9d25e9014bd5a",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 7",
        "links": [
            "12850c29bba4ad45",
            "6066ac95e9eaea77"
        ],
        "x": 135,
        "y": 1860,
        "wires": [
            [
                "8b7beea53b63be06"
            ]
        ]
    },
    {
        "id": "3f090108751840dd",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "",
        "info": "",
        "x": 180,
        "y": 1820,
        "wires": []
    },
    {
        "id": "6066ac95e9eaea77",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "18c9d25e9014bd5a"
        ],
        "x": 1335,
        "y": 2060,
        "wires": []
    },
    {
        "id": "a02f21d05ced7982",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"user_info\"\n}",
        "output": "json",
        "x": 1520,
        "y": 2320,
        "wires": [
            [
                "6c384c1436bae3e3"
            ]
        ]
    },
    {
        "id": "6c384c1436bae3e3",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "all",
        "x": 1660,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "9916072e5c689100",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "86e4957093b0dc64",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "your ID",
        "format": "{{msg.payload.id}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1940,
        "y": 2360,
        "wires": []
    },
    {
        "id": "05f2d3a9ddb7bf06",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "user_info",
        "info": "",
        "x": 1460,
        "y": 2280,
        "wires": []
    },
    {
        "id": "2b5ff24728642bc9",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "cdcae8112082ac5a"
        ],
        "x": 495,
        "y": 2160,
        "wires": []
    },
    {
        "id": "cdcae8112082ac5a",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 8",
        "links": [
            "2b5ff24728642bc9"
        ],
        "x": 1415,
        "y": 2320,
        "wires": [
            [
                "a02f21d05ced7982",
                "180f49d3f010cf12"
            ]
        ]
    },
    {
        "id": "180f49d3f010cf12",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/getTheUserInfo\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'username': flow.get(\"username\")\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2360,
        "wires": [
            [
                "212b111b6b53c827"
            ]
        ]
    },
    {
        "id": "212b111b6b53c827",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1710,
        "y": 2360,
        "wires": [
            [
                "9916072e5c689100",
                "d47157095ac46ad4",
                "82dd7114efb6f1b2",
                "9c5cf83505273b12",
                "8006e8fa3e3f7313"
            ]
        ]
    },
    {
        "id": "d47157095ac46ad4",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "86e4957093b0dc64",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "your name",
        "format": "{{msg.payload.username}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 2400,
        "wires": []
    },
    {
        "id": "9c5cf83505273b12",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "86e4957093b0dc64",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "from at",
        "format": "{{msg.payload.created_at}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1940,
        "y": 2480,
        "wires": []
    },
    {
        "id": "82dd7114efb6f1b2",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "86e4957093b0dc64",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "your email",
        "format": "{{msg.payload.email}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 2440,
        "wires": []
    },
    {
        "id": "8006e8fa3e3f7313",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 2520,
        "wires": []
    },
    {
        "id": "b6501ba5418447bc",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"Application1\"\n}",
        "output": "json",
        "x": 1520,
        "y": 2520,
        "wires": [
            [
                "7e3c98893fd5ee7b"
            ]
        ]
    },
    {
        "id": "7e3c98893fd5ee7b",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "all",
        "x": 1660,
        "y": 2520,
        "wires": [
            []
        ]
    },
    {
        "id": "5403e52195230224",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "ToApp",
        "group": "86e4957093b0dc64",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "App tab",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "humidity_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1510,
        "y": 2400,
        "wires": [
            [
                "b6501ba5418447bc"
            ]
        ]
    },
    {
        "id": "716f310aa3366431",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"weather_info\"\n}",
        "output": "json",
        "x": 1520,
        "y": 2620,
        "wires": [
            [
                "8ae7c0b6503046ea"
            ]
        ]
    },
    {
        "id": "8ae7c0b6503046ea",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "all",
        "x": 1660,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "0d7a0c54a81b845a",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "5be484a48a197cce",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rough Cluster",
        "format": "{{msg.payload.RoughCluster}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1960,
        "y": 2620,
        "wires": []
    },
    {
        "id": "f8fa38c2848a3eaa",
        "type": "comment",
        "z": "f265343e24ade8d5",
        "name": "weather_info",
        "info": "",
        "x": 1470,
        "y": 2580,
        "wires": []
    },
    {
        "id": "115932dc3c033e06",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 9",
        "links": [
            "53c2988acff02071"
        ],
        "x": 1415,
        "y": 2620,
        "wires": [
            [
                "716f310aa3366431"
            ]
        ]
    },
    {
        "id": "8c99b4b41c14ff60",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "5be484a48a197cce",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SimilarCluster",
        "format": "{{msg.payload.SimilarCluster}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1960,
        "y": 2660,
        "wires": []
    },
    {
        "id": "64412436e998ae68",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "5be484a48a197cce",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "explanation",
        "format": "{{msg.payload.explanation}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1950,
        "y": 2740,
        "wires": []
    },
    {
        "id": "3526e847f3ca1c62",
        "type": "ui_text",
        "z": "f265343e24ade8d5",
        "group": "5be484a48a197cce",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "code",
        "format": "{{msg.payload.code}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1930,
        "y": 2700,
        "wires": []
    },
    {
        "id": "116ccec319dd343e",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"Application1\"\n}",
        "output": "json",
        "x": 1520,
        "y": 2780,
        "wires": [
            [
                "24eb27e69c879915"
            ]
        ]
    },
    {
        "id": "24eb27e69c879915",
        "type": "ui_ui_control",
        "z": "f265343e24ade8d5",
        "name": "",
        "events": "all",
        "x": 1660,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "6c8f3b8fb3897b12",
        "type": "ui_button",
        "z": "f265343e24ade8d5",
        "name": "ToApp",
        "group": "5be484a48a197cce",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "App tab",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "humidity_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1510,
        "y": 2660,
        "wires": [
            [
                "116ccec319dd343e"
            ]
        ]
    },
    {
        "id": "0e431aea2e2980b8",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "f720a5ea10bd6a9f",
            "b5d4ba988d10f128"
        ],
        "x": 1715,
        "y": 2120,
        "wires": []
    },
    {
        "id": "f720a5ea10bd6a9f",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 10",
        "links": [
            "0e431aea2e2980b8"
        ],
        "x": 1765,
        "y": 2620,
        "wires": [
            [
                "0d7a0c54a81b845a",
                "8c99b4b41c14ff60",
                "3526e847f3ca1c62",
                "64412436e998ae68",
                "470128ea550cfbe5"
            ]
        ]
    },
    {
        "id": "53c2988acff02071",
        "type": "link out",
        "z": "f265343e24ade8d5",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "115932dc3c033e06",
            "6d98f6b5467407ca"
        ],
        "x": 2095,
        "y": 2200,
        "wires": []
    },
    {
        "id": "470128ea550cfbe5",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 2780,
        "wires": []
    },
    {
        "id": "979857c9930f634f",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "requestの前処理",
        "func": "let http = flow.get(\"url\")\n\nmsg.method = \"GET\";\nmsg.url = http + \"/createInitialFlower\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'username': msg.username,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1020,
        "wires": [
            [
                "26e88176cd763cf4"
            ]
        ]
    },
    {
        "id": "26e88176cd763cf4",
        "type": "http request",
        "z": "f265343e24ade8d5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 1020,
        "wires": [
            [
                "2dabe59e985c6c20",
                "023f69d1bf445a4d"
            ]
        ]
    },
    {
        "id": "86a1dc188e354287",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "一時的にlocalhostを指定",
        "func": "flow.set(\"url\",\"http://backend:5000\")\nflow.set(\"hostIP\", \"hostIP\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2eb5b3ee1f1aa275",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1440,
        "wires": []
    },
    {
        "id": "2dabe59e985c6c20",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1020,
        "wires": []
    },
    {
        "id": "023f69d1bf445a4d",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "データ作成が完了したトースト",
        "func": "msg.payload = \"ALL Grean !!\"\nmsg.topic = \"Now, Let's simulate !!\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 980,
        "wires": [
            [
                "ceeccbb2eea7748d"
            ]
        ]
    },
    {
        "id": "ceeccbb2eea7748d",
        "type": "ui_toast",
        "z": "f265343e24ade8d5",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "データ作成が完了したトースト",
        "x": 1730,
        "y": 980,
        "wires": []
    },
    {
        "id": "16f6a9fd87044cea",
        "type": "debug",
        "z": "f265343e24ade8d5",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload['hostIP']",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1260,
        "wires": []
    },
    {
        "id": "98c8f8ee90ade055",
        "type": "function",
        "z": "f265343e24ade8d5",
        "name": "function 29",
        "func": "msg.png = \"http://localhost:1880/image/\" + msg.status + \".png\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1980,
        "wires": [
            [
                "ba33e9a1c7024d6c"
            ]
        ]
    },
    {
        "id": "c95b021835d0918d",
        "type": "link in",
        "z": "f265343e24ade8d5",
        "name": "link in 11",
        "links": [
            "12850c29bba4ad45"
        ],
        "x": 135,
        "y": 1980,
        "wires": [
            [
                "98c8f8ee90ade055"
            ]
        ]
    },
    {
        "id": "ba33e9a1c7024d6c",
        "type": "template",
        "z": "f265343e24ade8d5",
        "name": "メインウィンドウのテンプレ",
        "field": "template",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div class=\"test\">\n    <img src={{png}} alt=\"msg.image\" id=\"flower\">\n</div>",
        "output": "str",
        "x": 460,
        "y": 1980,
        "wires": [
            [
                "797dcb443aa41daf"
            ]
        ]
    }
]