frontend_NodeRED/flows.json
[
    {
        "id": "4cd79f08a1e72dcf",
        "type": "tab",
        "label": "request_simple_model",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f824968e1c74319",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9d17759467ec5ab",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ffffff",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#ffffff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "simulation-demo",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 80,
                "sy": 80,
                "gx": 5,
                "gy": 5,
                "cx": 5,
                "cy": 5,
                "px": 5,
                "py": 5
            }
        }
    },
    {
        "id": "ec3d6f50b0ef621e",
        "type": "ui_tab",
        "name": "signin",
        "icon": "account_circle",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "00f6212109cb96d7",
        "type": "ui_group",
        "name": "please fill your information",
        "tab": "ec3d6f50b0ef621e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f620623070c2a5bd",
        "type": "ui_tab",
        "name": "signup",
        "icon": "create",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90f876c4dd9bf71f",
        "type": "ui_group",
        "name": "please your information",
        "tab": "f620623070c2a5bd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5850630318ad32f4",
        "type": "ui_tab",
        "name": "user resister",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "e73f19ab860fb9af",
        "type": "ui_group",
        "name": "please infomation to resister",
        "tab": "5850630318ad32f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4f29528b847d1ef",
        "type": "ui_tab",
        "name": "certification",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "fc0d382079b6fab5",
        "type": "ui_group",
        "name": "type here your certificate number",
        "tab": "b4f29528b847d1ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81b1bdc3.9a60b8",
        "type": "ui_group",
        "name": "Hacks",
        "tab": "2f5baa7e.0221fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2f5baa7e.0221fe",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "timeline",
        "order": 2,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "9379c82af452cfe8",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "e73f19ab860fb9af",
        "order": 2,
        "width": "",
        "height": ""
    },
    {
        "id": "a9d9a58918ae9263",
        "type": "ui_tab",
        "name": "Application1",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fcd2a9620a5003c7",
        "type": "ui_group",
        "name": "humidity_window",
        "tab": "a9d9a58918ae9263",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6229a5b6866e8146",
        "type": "ui_group",
        "name": "co2_window",
        "tab": "a9d9a58918ae9263",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5b7313b354518b0e",
        "type": "ui_group",
        "name": "temperature_window",
        "tab": "a9d9a58918ae9263",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0f4037e93a3d0626",
        "type": "ui_group",
        "name": "water_window",
        "tab": "a9d9a58918ae9263",
        "order": 7,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3baf9f54646316e4",
        "type": "ui_group",
        "name": "Mary Gold Window",
        "tab": "a9d9a58918ae9263",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "805e488a9f943934",
        "type": "ui_group",
        "name": "fetilizer_window",
        "tab": "a9d9a58918ae9263",
        "order": 8,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b61b37f135cdb1e",
        "type": "ui_group",
        "name": "status",
        "tab": "a9d9a58918ae9263",
        "order": 9,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e77efef5c32cb49f",
        "type": "ui_group",
        "name": "user",
        "tab": "a9d9a58918ae9263",
        "order": 5,
        "disp": false,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d574fe13e719ae15",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "fcd2a9620a5003c7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "3b8225540a8222d1",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "fcd2a9620a5003c7",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "add6b4dc13d68f3f",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "fcd2a9620a5003c7",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f986014d8a6f50a5",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "e77efef5c32cb49f",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "47a1749e305a96d6",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "0f4037e93a3d0626",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "247a6a6218d8512a",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "0f4037e93a3d0626",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "d17e65f9abb4af8c",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "805e488a9f943934",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "8afa9b69c2ef9cca",
        "type": "ui_spacer",
        "z": "6f824968e1c74319",
        "name": "spacer",
        "group": "805e488a9f943934",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "e7dc04cefee3c36f",
        "type": "ui_tab",
        "name": "Application2",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d03f65c2ba09591",
        "type": "inject",
        "z": "4cd79f08a1e72dcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "16d3ec9e29c557cb"
            ]
        ]
    },
    {
        "id": "16d3ec9e29c557cb",
        "type": "function",
        "z": "4cd79f08a1e72dcf",
        "name": "function 1",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/compare_info\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    username: \"221205015\",\n    password: \"05_pass\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "5f2d4c06825e9aa5"
            ]
        ]
    },
    {
        "id": "5f2d4c06825e9aa5",
        "type": "http request",
        "z": "4cd79f08a1e72dcf",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "f461ada0e84dcad7"
            ]
        ]
    },
    {
        "id": "f461ada0e84dcad7",
        "type": "debug",
        "z": "4cd79f08a1e72dcf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "b6da34e1b55ef1bc",
        "type": "inject",
        "z": "4cd79f08a1e72dcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "d9afb3521c4c76a6"
            ]
        ]
    },
    {
        "id": "d9afb3521c4c76a6",
        "type": "function",
        "z": "4cd79f08a1e72dcf",
        "name": "function 24",
        "func": "msg.time = \"1687355555\"\nmsg.key = \"0e35a874f02a4887adc1ed0b2561f645\"\nmsg.id = \"CgETViZ2\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "d98b2a01031b2552"
            ]
        ]
    },
    {
        "id": "d98b2a01031b2552",
        "type": "http request",
        "z": "4cd79f08a1e72dcf",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://proxy.cep-hd-dlp.chuden.co.jp/data-n8suh89sqhcjo5g5/data-api/day-csv?id={{id}}&subscription-key={{key}}&startDate={{time}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "80eddf16e9e845f8"
            ]
        ]
    },
    {
        "id": "80eddf16e9e845f8",
        "type": "csv",
        "z": "4cd79f08a1e72dcf",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "7776064ede5f8110"
            ]
        ]
    },
    {
        "id": "7776064ede5f8110",
        "type": "debug",
        "z": "4cd79f08a1e72dcf",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "c288329d492d7487",
        "type": "ui_form",
        "z": "6f824968e1c74319",
        "name": "サインイン情報の入力",
        "label": "",
        "group": "00f6212109cb96d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "95d8399bbd0e7205"
            ]
        ]
    },
    {
        "id": "95d8399bbd0e7205",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/signIn\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.user = msg.payload['username']\nmsg.payload = {\n    'username': msg.payload['username'],\n    'password': msg.payload['password']\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "a0b955343a591cee",
                "fe71f3e8cdcbd71b"
            ]
        ]
    },
    {
        "id": "a0b955343a591cee",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "040bbff40181e7aa",
                "8772f0679f63c2fe"
            ]
        ]
    },
    {
        "id": "040bbff40181e7aa",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "サインインの可否を表示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7a54873ec9a5fe33",
        "type": "ui_form",
        "z": "6f824968e1c74319",
        "name": "サインアップ情報の入力",
        "label": "",
        "group": "90f876c4dd9bf71f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": false,
        "className": "signup-group",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "be3a38dd88a01350"
            ]
        ]
    },
    {
        "id": "be3a38dd88a01350",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/checkMailFromNodeRED\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = msg.payload['email']\nmsg.user = msg.payload.split('@')[0]\nmsg.domain = msg.payload.split('@')[1]\nmsg.payload = {\n    'user': msg.user,\n    'domain': msg.domain\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "36349b15560fab41",
                "76466f591f703991"
            ]
        ]
    },
    {
        "id": "36349b15560fab41",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "a26bc20baf91cd32",
                "a31e86143cf4aa4c"
            ]
        ]
    },
    {
        "id": "a26bc20baf91cd32",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "メールアドレス登録とワンタイムキー取得の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "76466f591f703991",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "メールアドレスのユーザ部とドメイン部の分解の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "a31e86143cf4aa4c",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "email認証番号の送信",
        "func": "if (msg.payload['state'] == \"already\"){\n    msg.to = msg.payload['mail']\n    msg.from = \"togenuts@gmail.com\"\n    msg.topic = \"Test\"\n    msg.onetimekey = 0\n    msg.key_list = [\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10)),\n        String(Math.floor(Math.random() * 10))\n    ]\n    msg.one_time_key = \"\"\n    msg.key_list.forEach(function(key){\n        msg.one_time_key += key\n        key = null\n    })\n    msg.payload = \"this is your certificate key\\nType this number \\nnumber : \" + msg.one_time_key + \" \\nhttp://localhost/ui/#!/2?socketid=1eaPOoiUuY3u1rxtAAAD \\nthis is page to certificate your number !\"\n    return msg;\n}\nelse { \n    msg.payload = { 'message': \"Not already\" }\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            [
                "b74a064bc8ad9c6c",
                "17191e404c929325",
                "8b8f1547537e275d",
                "ee965b9cecbe880a"
            ]
        ]
    },
    {
        "id": "b74a064bc8ad9c6c",
        "type": "e-mail",
        "z": "6f824968e1c74319",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "ワンタイムキーとリンクを送信",
        "output": true,
        "outputs": 1,
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "a53b5017c18b2633"
            ]
        ]
    },
    {
        "id": "84783407ef735dff",
        "type": "ui_form",
        "z": "6f824968e1c74319",
        "name": "ユーザー情報の入力・送信",
        "label": "",
        "group": "e73f19ab860fb9af",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "[re]password",
                "value": "Repassword",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "Repassword": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 200,
        "y": 940,
        "wires": [
            [
                "a91aef87615b144a",
                "e4996ab39a117db6"
            ]
        ]
    },
    {
        "id": "1586c6091fa18b27",
        "type": "ui_form",
        "z": "6f824968e1c74319",
        "name": "ワンタイムキーの確認",
        "label": "",
        "group": "fc0d382079b6fab5",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "certificate number",
                "value": "certnum",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "certnum": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "3b73dcabd9701428"
            ]
        ]
    },
    {
        "id": "630baaccd694e296",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 540,
        "wires": [
            [
                "b547f156ee0f3e5e"
            ]
        ]
    },
    {
        "id": "17191e404c929325",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ワンタイムキーのJSONオブジェクトを生成",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/resister_otk\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'user': msg.user,\n    'domain': msg.domain,\n    'one_time_key': msg.one_time_key\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "630baaccd694e296",
                "94f56cc7b5ce6129"
            ]
        ]
    },
    {
        "id": "b547f156ee0f3e5e",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "データベース登録の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 540,
        "wires": []
    },
    {
        "id": "8b8f1547537e275d",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "メールアドレスの再構築の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "94f56cc7b5ce6129",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "ワンタイムキーの生成の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 500,
        "wires": []
    },
    {
        "id": "efb0443c06ab1922",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 660,
        "wires": [
            [
                "f1bc7c2eeea1729e"
            ]
        ]
    },
    {
        "id": "3b73dcabd9701428",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/compare_one_time_key\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.certification = msg.payload['certnum']\nmsg.payload = {\n    'one_time_key': msg.certification\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "efb0443c06ab1922"
            ]
        ]
    },
    {
        "id": "a8578588a0a4f6e8",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "ワンタイムキーのチェック",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 740,
        "wires": []
    },
    {
        "id": "ee965b9cecbe880a",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "メール送信通知のトースト前処理",
        "func": "msg.payload = \"Check it out\"\nmsg.topic = \"notify\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 580,
        "wires": [
            [
                "41e10390025c02bd"
            ]
        ]
    },
    {
        "id": "41e10390025c02bd",
        "type": "ui_toast",
        "z": "6f824968e1c74319",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "You Get One Time Key",
        "name": "メール送信を報告するトースト",
        "x": 1450,
        "y": 580,
        "wires": []
    },
    {
        "id": "a53b5017c18b2633",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "メール送信の可否",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "f6a318e52af68c5c",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "This is Login window CSS",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "15f83a1fda9c9788",
        "type": "ui_ui_control",
        "z": "6f824968e1c74319",
        "name": "",
        "events": "change",
        "x": 1500,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "39a559a123cd8e30",
        "type": "template",
        "z": "6f824968e1c74319",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"user resister\"\n}",
        "output": "json",
        "x": 1360,
        "y": 820,
        "wires": [
            [
                "15f83a1fda9c9788"
            ]
        ]
    },
    {
        "id": "a57cf30b08b09572",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "データ作成のリンク送信",
        "func": "if (msg.payload['state'] == \"success\"){\n    return msg;\n}\nelse { \n    msg.payload = { 'message': \"Not already\" }\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "39a559a123cd8e30"
            ]
        ]
    },
    {
        "id": "f1bc7c2eeea1729e",
        "type": "switch",
        "z": "6f824968e1c74319",
        "name": "データべースの情報との比較による分岐",
        "property": "payload['state']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 660,
        "wires": [
            [
                "a8578588a0a4f6e8",
                "a57cf30b08b09572",
                "ad3b8b054a2a3f55",
                "7e7ba2d6e99939d4"
            ],
            [
                "97b211bc0569c0c4"
            ]
        ]
    },
    {
        "id": "97b211bc0569c0c4",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ワンタイムキー再入力催促のトースト前処理",
        "func": "msg.payload = \"It may wrong...\"\nmsg.topic = \"Oops! That OneTimeKey doesn’t look right. Try again?\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 860,
        "wires": [
            [
                "e4daefa04e7fb3bf"
            ]
        ]
    },
    {
        "id": "e4daefa04e7fb3bf",
        "type": "ui_toast",
        "z": "6f824968e1c74319",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ワンタイムキー再入力を催促するトースト",
        "x": 1590,
        "y": 860,
        "wires": []
    },
    {
        "id": "aa12c51b8b6f1572",
        "type": "ui_toast",
        "z": "6f824968e1c74319",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ユーザー情報の入力を催促するトースト",
        "x": 1580,
        "y": 780,
        "wires": []
    },
    {
        "id": "ad3b8b054a2a3f55",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ワンタイムキー再入力催促のトースト前処理",
        "func": "msg.payload = \"Great!!\"\nmsg.topic = \"Next sign here!\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 780,
        "wires": [
            [
                "aa12c51b8b6f1572"
            ]
        ]
    },
    {
        "id": "7dc602927763baa1",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 980,
        "wires": [
            [
                "fad97aab25d39d46",
                "5dc562379cfcce04"
            ]
        ]
    },
    {
        "id": "e44de8b239fd86f7",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/resister_Userinfo\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\n\n\n\nmsg.payload = {\n    'username': msg.payload['username'],\n    'password': msg.payload['password'],\n    'email-user': flow.get(\"email-user\"),\n    'email-domain': flow.get(\"email-domain\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 940,
        "wires": [
            [
                "7dc602927763baa1",
                "253a1e47d29003e3"
            ]
        ]
    },
    {
        "id": "a91aef87615b144a",
        "type": "switch",
        "z": "6f824968e1c74319",
        "name": "パスワードの正誤",
        "property": "payload['password']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload['Repassword']",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "payload['Repassword']",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "e44de8b239fd86f7"
            ],
            [
                "f5f321bea41d9320"
            ]
        ]
    },
    {
        "id": "f5f321bea41d9320",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ワンタイムキー再入力催促のトースト前処理",
        "func": "msg.payload = \"It may wrong...\"\nmsg.topic = \"Oops! That password doesn’t look right. Try again?\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "02bba4cd39d4dbc9"
            ]
        ]
    },
    {
        "id": "02bba4cd39d4dbc9",
        "type": "ui_toast",
        "z": "6f824968e1c74319",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ワンタイムキー再入力を催促するトースト",
        "x": 1090,
        "y": 1020,
        "wires": []
    },
    {
        "id": "253a1e47d29003e3",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 940,
        "wires": []
    },
    {
        "id": "e4996ab39a117db6",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 940,
        "wires": []
    },
    {
        "id": "7e7ba2d6e99939d4",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 4",
        "func": "msg.payload = msg.payload['email']\nvar str = msg.payload\nvar arr = str.split(\"@\");\n\nmsg.payload = arr\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 660,
        "wires": [
            [
                "cdadb804f3f2fd8b",
                "5f5f3e1ac8e2e61f"
            ]
        ]
    },
    {
        "id": "5f5f3e1ac8e2e61f",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 5",
        "func": "flow.set('email-user', msg.payload[0])\nflow.set('email-domain', msg.payload[1])\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 660,
        "wires": [
            [
                "45b45695b40dad95"
            ]
        ]
    },
    {
        "id": "cdadb804f3f2fd8b",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 700,
        "wires": []
    },
    {
        "id": "45b45695b40dad95",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 660,
        "wires": []
    },
    {
        "id": "fad97aab25d39d46",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 940,
        "wires": []
    },
    {
        "id": "5dc562379cfcce04",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 6",
        "func": "flow.set(\"email-user\",undefined)\nflow.set(\"email-domain\", undefined)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "18506a6089cf1a50",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "サインアップ（メールアドレス認証）",
        "info": "",
        "x": 230,
        "y": 300,
        "wires": []
    },
    {
        "id": "d2ea8b832abb6699",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "サインアップ（ワンタイムキー認証）",
        "info": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "309b576fd162f3bc",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "サインアップ（登録情報の入力）",
        "info": "",
        "x": 210,
        "y": 900,
        "wires": []
    },
    {
        "id": "f9bb620e6c873c07",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "サインイン（入力情報認証）",
        "info": "",
        "x": 200,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fe71f3e8cdcbd71b",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1140,
        "wires": []
    },
    {
        "id": "81362d392647cb02",
        "type": "ui_ui_control",
        "z": "6f824968e1c74319",
        "name": "",
        "events": "change",
        "x": 1020,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "731ef741b8ff2701",
        "type": "template",
        "z": "6f824968e1c74319",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"tab\": \"Application1\"\n}",
        "output": "json",
        "x": 880,
        "y": 1180,
        "wires": [
            [
                "81362d392647cb02"
            ]
        ]
    },
    {
        "id": "8772f0679f63c2fe",
        "type": "switch",
        "z": "6f824968e1c74319",
        "name": "",
        "property": "payload['state']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "731ef741b8ff2701",
                "0b070929d1e4a841"
            ],
            [
                "0de1fe0b4842a343"
            ]
        ]
    },
    {
        "id": "0de1fe0b4842a343",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "サインインを再度求めるトースト",
        "func": "msg.payload = \"It may wrong...\"\nmsg.topic = \"Oops! That password or username doesn’t look right. Try again?\"\nmsg.type = \"info\"\nmsg.timeout = 5\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1220,
        "wires": [
            [
                "ebeb4b75e012038e"
            ]
        ]
    },
    {
        "id": "ebeb4b75e012038e",
        "type": "ui_toast",
        "z": "6f824968e1c74319",
        "position": "top right",
        "displayTime": "",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.notify-toast",
        "topic": "",
        "name": "ワンタイムキー再入力を催促するトースト",
        "x": 1290,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0e60ee3011123f31",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "アプリ画面（demo）",
        "info": "",
        "x": 180,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2d30262a6b09d3ce",
        "type": "ui_template",
        "z": "6f824968e1c74319",
        "group": "81b1bdc3.9a60b8",
        "name": "CSS-Basics",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    * {\n        background: none;\n        background-repeat: no-repeat;\n    }\n\n    root, a, button, p, div {\n        -webkit-user-select: none !important;\n    }\n\n    ui-card-panel {\n        background-color: rgba(250, 250, 250, 0.2) !important;\n        border: none !important;\n        border-radius: 10px !important;\n        /*        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n    */\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: none !important;\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel button {\n        background: none !important;\n    }\n\n    p.nr-dashboard-cardtitle {\n        text-align: center !important;\n    }\n\n\n    button, html, input, select, textarea  {\n        font-family: Roboto, Helvetica Neue, sans-serif;\n    }\n\n    md-toolbar {\n        background: none !important;\n    }\n\n    md-sidenav {\n        background: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n    }\n\n    md-card.nr-dashboard-button * {\n        background: none !important;\n        box-shadow: none !important;\n    }\n\n    md-card.nr-dashboard-template * {\n        background: none !important;\n    }\n\n\n    body {\n        background: transparent;\n        \n        background: linear-gradient(\n            45deg,\n            #9900d3,\n            #4b0082,\n            #8a2be2,\n            #4169e1,\n            #ffff00\n        );\n        \n        width: 100%;\n        height: 100vh;\n        background-size: 200% 200% !important;/*サイズを大きくひきのばす*/\n        background-position: 0% 50%;\n        animation: bggradient 10s ease infinite;\n        \n        -webkit-touch-callout: none !important;\n        color: #ffffff !important;\n        padding-top:5px !important;\n    }\n        \n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {}\n    \n    @keyframes bggradient{\n        0% {\n            background-position: 0% 50%;\n        }\n        25%{\n            background-position: 50% 100%;\n        }\n        50% {\n            background-position: 100% 50%;\n        }\n        75%{\n            background-position: 50% 100%;\n        }\n        100% {\n            background-position: 0% 50%;\n        }\n    }\n    \n    .nr-dashboard-cardpanel > p {\n        max-height: 32px;\n        min-height: 32px;\n        margin-left: 6px !important;\n        margin-right: 6px !important;\n        margin-top: 10px;\n        margin-bottom: 12px;\n        font-weight: 500;\n        font-size: larger;\n    }\n\n    button.md-raised.nr-dashboard-form-button.md-button.md-ink-ripple {\n        border-radius: 20px;\n    }\n    \n    .nr-dashboard-template {\n        padding: 0px;\n    }\n\n    .test {\n        text-align: center;\n    }\n\n    // UI 最終調整\n    #Application_status_cards {\n        height: 100px !important;\n    }\n    // UI 調整終了\n    \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2154e513f25e6859",
        "type": "template",
        "z": "6f824968e1c74319",
        "name": "",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<style>\n    * {\n        background: none;\n        background-repeat: no-repeat;\n    }\n\n    root,\n    a,\n    button,\n    p,\n    div {\n        -webkit-user-select: none !important;\n    }\n\n    ui-card-panel {\n        background-color: rgba(250, 250, 250, 0.2) !important;\n        border: none !important;\n        border-radius: 10px !important;\n        /*        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n    */\n    }\n    \n    p.nr-dashboard-cardtitle {\n        text-align: center !important;\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: none !important;\n    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel button {\n        background: none !important;\n    }\n\n    md-toolbar {\n        background: none !important;\n    }\n\n    md-sidenav {\n        background: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n    }\n\n    md-card.nr-dashboard-button * {\n        background: none !important;\n        box-shadow: none !important;\n    }\n\n    md-card.nr-dashboard-template * {\n        background: none !important;\n    }\n\n\n    body {\n        background: transparent;\n\n        background: linear-gradient(\n            45deg,\n            {{payload_1}},\n            {{payload_2}},\n            {{payload_3}},\n            {{payload_4}}\n        );\n\n        width: 100%;\n        height: 100vh;\n        background-size: 200% 200% !important;\n        /*サイズを大きくひきのばす*/\n        background-position: 0% 50%;\n        animation: bggradient 30s ease infinite;\n\n        -webkit-touch-callout: none !important;\n        color: #ffffff !important;\n        padding-top: 5px !important;\n    }\n\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {}\n\n    @keyframes bggradient {\n        0% {\n            background-position: 0% 50%;\n        }\n\n        25% {\n            background-position: 50% 100%;\n        }\n\n        50% {\n            background-position: 100% 50%;\n        }\n\n        75% {\n            background-position: 50% 100%;\n        }\n\n        100% {\n            background-position: 0% 50%;\n        }\n    }\n    .nr-dashboard-cardpanel > p {\n        max-height: 32px;\n        min-height: 32px;\n        margin-left: 6px !important;\n        margin-right: 6px !important;\n        margin-top: 10px;\n        margin-bottom: 12px;\n        font-weight: 500;\n        font-size: larger;\n    }\n\n    button.md-raised.nr-dashboard-form-button.md-button.md-ink-ripple {\n        border-radius: 20px;\n    }\n\n    .nr-dashboard-template {\n        padding: 0px;\n    }\n\n    .test {\n        text-align: center;\n    }\n\n</style>",
        "output": "str",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "2d30262a6b09d3ce"
            ]
        ]
    },
    {
        "id": "b3cf63b30f53f366",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 7",
        "func": "const pallet = '0123456789ABCDEF'\n\nfunction colorget(){\n    const color_array = [\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16)),\n    String(Math.floor(Math.random() * 16))\n    ]\n\n    let color = \"#\"\n\n    color_array.forEach(function(item) {\n        color += pallet[item]\n        item = null\n    });\n\n    return color;\n}\n\n\nmsg.payload_1 = colorget()\nmsg.payload_2 = colorget()\nmsg.payload_3 = colorget()\nmsg.payload_4 = colorget()\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "2154e513f25e6859"
            ]
        ]
    },
    {
        "id": "7579173786f917fa",
        "type": "inject",
        "z": "6f824968e1c74319",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "b3cf63b30f53f366"
            ]
        ]
    },
    {
        "id": "2d8f146add1c0ea3",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "backgroundColorandom",
        "group": "e77efef5c32cb49f",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "change color",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "color_lens",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1400,
        "wires": [
            [
                "15dbf96cfeadfad5"
            ]
        ]
    },
    {
        "id": "fa2fac737f9587cc",
        "type": "link in",
        "z": "6f824968e1c74319",
        "name": "link in 1",
        "links": [
            "15dbf96cfeadfad5"
        ],
        "x": 185,
        "y": 220,
        "wires": [
            [
                "b3cf63b30f53f366"
            ]
        ]
    },
    {
        "id": "15dbf96cfeadfad5",
        "type": "link out",
        "z": "6f824968e1c74319",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "fa2fac737f9587cc"
        ],
        "x": 385,
        "y": 1400,
        "wires": []
    },
    {
        "id": "4452023b3c88ab43",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "Airocoデータ取得",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/getAirocoData\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1400,
        "wires": [
            [
                "43a4da6ff40deb31"
            ]
        ]
    },
    {
        "id": "9f995efc8d395521",
        "type": "inject",
        "z": "6f824968e1c74319",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 1400,
        "wires": [
            [
                "4452023b3c88ab43"
            ]
        ]
    },
    {
        "id": "43a4da6ff40deb31",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 1400,
        "wires": [
            [
                "82ad24983697234c",
                "1e50f5c2de5d9f42"
            ]
        ]
    },
    {
        "id": "82ad24983697234c",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "requestの中身を確認",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e7d288e06009f4b3",
        "type": "ui_gauge",
        "z": "6f824968e1c74319",
        "name": "co2",
        "group": "6229a5b6866e8146",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "",
        "format": "{{value}}㏙",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1470,
        "y": 1480,
        "wires": []
    },
    {
        "id": "9425e2c9b1639a45",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "co2に加工",
        "func": "msg.payload = msg.payload['co2']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1480,
        "wires": [
            [
                "732cc05c92798d7a",
                "e7d288e06009f4b3"
            ]
        ]
    },
    {
        "id": "93e457f88f0a6abe",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "humに加工",
        "func": "msg.payload = msg.payload['humidity']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1560,
        "wires": [
            [
                "57c4c340de85c8fa",
                "a00eb56b8e55cf13"
            ]
        ]
    },
    {
        "id": "063abbfba78bae22",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "tmpに加工",
        "func": "msg.payload = msg.payload['temperature']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1640,
        "wires": [
            [
                "24e07a3f9f770c4b",
                "8895cc6ff53c8417"
            ]
        ]
    },
    {
        "id": "a00eb56b8e55cf13",
        "type": "ui_gauge",
        "z": "6f824968e1c74319",
        "name": "humidity",
        "group": "fcd2a9620a5003c7",
        "order": 6,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 1560,
        "wires": []
    },
    {
        "id": "8895cc6ff53c8417",
        "type": "ui_gauge",
        "z": "6f824968e1c74319",
        "name": "temperature",
        "group": "5b7313b354518b0e",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "",
        "label": "",
        "format": "{{value | number:1}}℃",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1490,
        "y": 1640,
        "wires": []
    },
    {
        "id": "732cc05c92798d7a",
        "type": "ui_chart",
        "z": "6f824968e1c74319",
        "name": "co2_chart",
        "group": "6229a5b6866e8146",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df80",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1480,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "24e07a3f9f770c4b",
        "type": "ui_chart",
        "z": "6f824968e1c74319",
        "name": "temperature chart",
        "group": "5b7313b354518b0e",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1510,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "57c4c340de85c8fa",
        "type": "ui_chart",
        "z": "6f824968e1c74319",
        "name": "humidity chart",
        "group": "fcd2a9620a5003c7",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffffff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1500,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "850e905a1ec06691",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "water_button",
        "group": "0f4037e93a3d0626",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "feed water",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1540,
        "wires": [
            [
                "71835e64f909180f"
            ]
        ]
    },
    {
        "id": "86e0f0ab28285d35",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "fetilizer_button",
        "group": "805e488a9f943934",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "feed fertilizer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "43cf4ebc2dc2bc5f"
            ]
        ]
    },
    {
        "id": "43cf4ebc2dc2bc5f",
        "type": "ui_gauge",
        "z": "6f824968e1c74319",
        "name": "fertilizer_gauge",
        "group": "805e488a9f943934",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#2ead14"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 1620,
        "wires": []
    },
    {
        "id": "f079fe76e4ec4645",
        "type": "ui_text",
        "z": "6f824968e1c74319",
        "group": "8b61b37f135cdb1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 1720,
        "wires": []
    },
    {
        "id": "115be89f34140b35",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "背景色の変化",
        "info": "",
        "x": 190,
        "y": 1360,
        "wires": []
    },
    {
        "id": "6dad564095c054cb",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "データベースからデータ取得",
        "info": "",
        "x": 540,
        "y": 1360,
        "wires": []
    },
    {
        "id": "7ce18d74323731b3",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "水やり機能と肥料機能（未実装）",
        "info": "",
        "x": 250,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a0f8742db2253306",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "マリーゴールド表示",
        "info": "",
        "x": 210,
        "y": 1680,
        "wires": []
    },
    {
        "id": "eb5fed0aefcfdca8",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "マリーゴールドの状態表示",
        "info": "",
        "x": 450,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e1c3a98c8f8f1f7f",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "ユーザー情報の表示",
        "info": "",
        "x": 210,
        "y": 1780,
        "wires": []
    },
    {
        "id": "85d3cd928495d8a9",
        "type": "link out",
        "z": "6f824968e1c74319",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "0085e2d92f13b880",
            "7e09d71e5e5a204c",
            "9dc8f5d731122192"
        ],
        "x": 1035,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0085e2d92f13b880",
        "type": "link in",
        "z": "6f824968e1c74319",
        "name": "link in 2",
        "links": [
            "85d3cd928495d8a9"
        ],
        "x": 135,
        "y": 1820,
        "wires": [
            [
                "5fad1b92300f68db",
                "4ce834d0b0999f48",
                "61bc51a06fd65289",
                "f79497c25d5e1900"
            ]
        ]
    },
    {
        "id": "0b070929d1e4a841",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "usernameを格納",
        "func": "msg.payload = msg.user\nmsg.topic = msg.user\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1140,
        "wires": [
            [
                "85d3cd928495d8a9",
                "ae86ca1fc013a3fc"
            ]
        ]
    },
    {
        "id": "ae86ca1fc013a3fc",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5fad1b92300f68db",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/getflowerData\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'username': msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1900,
        "wires": [
            [
                "f8f0d3fe3079fb93",
                "60e5c60dd65dad6b"
            ]
        ]
    },
    {
        "id": "60e5c60dd65dad6b",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 1900,
        "wires": [
            [
                "8d1cf917a5d17e77",
                "2a102dae2ae0a399",
                "35a01ea126017033",
                "b191336edba81c1f"
            ]
        ]
    },
    {
        "id": "f8f0d3fe3079fb93",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1940,
        "wires": []
    },
    {
        "id": "8d1cf917a5d17e77",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1900,
        "wires": []
    },
    {
        "id": "1e50f5c2de5d9f42",
        "type": "switch",
        "z": "6f824968e1c74319",
        "name": "",
        "property": "payload['state']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 1420,
        "wires": [
            [
                "9425e2c9b1639a45",
                "93e457f88f0a6abe",
                "063abbfba78bae22",
                "1e9b59d3283e45db"
            ],
            [
                "be3efcf69bf12173"
            ]
        ]
    },
    {
        "id": "be3efcf69bf12173",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "失敗原因の確認",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2a102dae2ae0a399",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 11",
        "func": "msg.payload = msg.payload['fertilizer']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 2020,
        "wires": [
            [
                "35cfa3b84aee23e8"
            ]
        ]
    },
    {
        "id": "b5ea479b030c08f2",
        "type": "link in",
        "z": "6f824968e1c74319",
        "name": "water注入",
        "links": [
            "2c51094856275bb4"
        ],
        "x": 265,
        "y": 1500,
        "wires": [
            [
                "71835e64f909180f"
            ]
        ]
    },
    {
        "id": "da6d5cd4bc427470",
        "type": "link in",
        "z": "6f824968e1c74319",
        "name": "fertilizer注入",
        "links": [
            "35cfa3b84aee23e8"
        ],
        "x": 265,
        "y": 1580,
        "wires": [
            [
                "43cf4ebc2dc2bc5f"
            ]
        ]
    },
    {
        "id": "35cfa3b84aee23e8",
        "type": "link out",
        "z": "6f824968e1c74319",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "da6d5cd4bc427470"
        ],
        "x": 775,
        "y": 2020,
        "wires": []
    },
    {
        "id": "35a01ea126017033",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 12",
        "func": "msg.payload = msg.payload['water']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1980,
        "wires": [
            [
                "2c51094856275bb4"
            ]
        ]
    },
    {
        "id": "2c51094856275bb4",
        "type": "link out",
        "z": "6f824968e1c74319",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "b5ea479b030c08f2"
        ],
        "x": 775,
        "y": 1980,
        "wires": []
    },
    {
        "id": "71835e64f909180f",
        "type": "ui_gauge",
        "z": "6f824968e1c74319",
        "name": "fetilizer_gauge",
        "group": "0f4037e93a3d0626",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#2ead14"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 1540,
        "wires": []
    },
    {
        "id": "75737e077c9e0d06",
        "type": "link in",
        "z": "6f824968e1c74319",
        "name": "花の状態を注入",
        "links": [
            "d70ca092f2d66a46"
        ],
        "x": 355,
        "y": 1720,
        "wires": [
            [
                "f079fe76e4ec4645"
            ]
        ]
    },
    {
        "id": "b191336edba81c1f",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 13",
        "func": "msg.payload = msg.payload['state']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1940,
        "wires": [
            [
                "d70ca092f2d66a46"
            ]
        ]
    },
    {
        "id": "d70ca092f2d66a46",
        "type": "link out",
        "z": "6f824968e1c74319",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "75737e077c9e0d06"
        ],
        "x": 775,
        "y": 1940,
        "wires": []
    },
    {
        "id": "845004a5864f07d3",
        "type": "ui_template",
        "z": "6f824968e1c74319",
        "group": "3baf9f54646316e4",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 9,
        "format": "<div class=\"test\">\n    <img src=\"http://localhost:1880/image/modified_flower_800.png\" alt=\"msg.image\" id=\"flower\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "4ce834d0b0999f48",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "tooltipを設定",
        "func": "let user = String(msg.user)\n\n//msg.tooltip = user\n\nmsg.tooltip = \"Check info\"\n\n// {{tooltip}}は動的に変化しないことが発覚した\n// したがってtooltip自体はuser_infoという静的な表記に変更した．\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1820,
        "wires": [
            [
                "9a68652c24406684",
                "5cf305e0fa309e16"
            ]
        ]
    },
    {
        "id": "9a68652c24406684",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1780,
        "wires": []
    },
    {
        "id": "61bc51a06fd65289",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ui設定",
        "func": "msg.payload = {\n    group:{\n        hide:[\"Application_temperature_window\",\"Application_humidity_window\",\"Application_fetilizer_window\" ],\n        show:[\"Application_temperature_window\",\"Application_humidity_window\",\"Application_co2_window\", \"Application_fetilizer_window\", \"Application_water_window\"],\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1860,
        "wires": [
            [
                "d282da4d2966c9b9"
            ]
        ]
    },
    {
        "id": "d282da4d2966c9b9",
        "type": "ui_ui_control",
        "z": "6f824968e1c74319",
        "name": "",
        "events": "change",
        "x": 400,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "5dd5202a345ded13",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Totemperature",
        "group": "6229a5b6866e8146",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "temperature",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "temperature_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2320,
        "wires": [
            [
                "b4e7ce800469731b"
            ]
        ]
    },
    {
        "id": "efec44a10e08d03b",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Tohumidity",
        "group": "6229a5b6866e8146",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "humidity",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "humidity_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 2100,
        "wires": [
            [
                "bfe1ff0403b27f29"
            ]
        ]
    },
    {
        "id": "cc85126844705b72",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Toco2",
        "group": "5b7313b354518b0e",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "co2",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "co2_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 2140,
        "wires": [
            [
                "bfe1ff0403b27f29"
            ]
        ]
    },
    {
        "id": "375f24050b2ad164",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Tohumidity",
        "group": "5b7313b354518b0e",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "humidity",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "humidity_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 2240,
        "wires": [
            [
                "b4e7ce800469731b"
            ]
        ]
    },
    {
        "id": "7c08d95b4d8804e6",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Totemperature",
        "group": "fcd2a9620a5003c7",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "temperature",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "temperature_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2180,
        "wires": [
            [
                "bfe1ff0403b27f29"
            ]
        ]
    },
    {
        "id": "746b49a475c05dc3",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Toco2",
        "group": "fcd2a9620a5003c7",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "co2",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "co2_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 2280,
        "wires": [
            [
                "b4e7ce800469731b"
            ]
        ]
    },
    {
        "id": "bfe1ff0403b27f29",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ui設定",
        "func": "const nowGroupList = {\n    \"humidity_window\":\"co2_window\",\n    \"co2_window\":\"temperature_window\",\n    \"temperature_window\":\"humidity_window\"\n}\n\n\nlet nowGroup = nowGroupList[msg.payload]\nlet nextGroup = msg.payload\n\nlet hide_message = \"Application1_\" + nowGroup\nlet show_message = \"Application1_\" + nextGroup\n\n\nmsg.payload = {\n    \"group\":{\n        \"hide\":[hide_message],\n        \"show\":[show_message]\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2140,
        "wires": [
            [
                "674fb4877ef2b357",
                "d2f25be84531786c"
            ]
        ]
    },
    {
        "id": "b4e7ce800469731b",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ui設定",
        "func": "\nconst nowGroupList = {\n    \"temperature_window\": \"co2_window\",\n    \"co2_window\": \"humidity_window\",\n    \"humidity_window\": \"temperature_window\"\n}\n\n\nlet nowGroup = nowGroupList[msg.payload]\nlet nextGroup = msg.payload\n\nlet hide_message = \"Application1_\" + nowGroup\nlet show_message = \"Application1_\" + nextGroup\n\nmsg.payload = {\n    \"group\": {\n        \"hide\": [hide_message],\n        \"show\": [show_message]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2280,
        "wires": [
            [
                "d2f25be84531786c"
            ]
        ]
    },
    {
        "id": "baebf2882473f351",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2140,
        "wires": []
    },
    {
        "id": "674fb4877ef2b357",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2100,
        "wires": []
    },
    {
        "id": "d2f25be84531786c",
        "type": "ui_ui_control",
        "z": "6f824968e1c74319",
        "name": "",
        "events": "change",
        "x": 520,
        "y": 2140,
        "wires": [
            [
                "baebf2882473f351"
            ]
        ]
    },
    {
        "id": "343034d5b5b8fd84",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "環境グラフの遷移構造",
        "info": "",
        "x": 220,
        "y": 2060,
        "wires": []
    },
    {
        "id": "fd1ff9160f6ca054",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "フィーディングの遷移構造",
        "info": "",
        "x": 970,
        "y": 1740,
        "wires": []
    },
    {
        "id": "90430c9255973914",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Tofetilizer",
        "group": "0f4037e93a3d0626",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "fetilizer",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_left",
        "payload": "fetilizer_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 920,
        "y": 1780,
        "wires": [
            [
                "c07c1a97c78f5b55"
            ]
        ]
    },
    {
        "id": "5f8974716a1b076b",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "Towater",
        "group": "805e488a9f943934",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "water",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron_right",
        "payload": "water_window",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 920,
        "y": 1820,
        "wires": [
            [
                "c07c1a97c78f5b55"
            ]
        ]
    },
    {
        "id": "c07c1a97c78f5b55",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "ui設定",
        "func": "const nowGroupList = {\n    \"water_window\":\"fetilizer_window\",\n    \"fetilizer_window\":\"water_window\"\n}\n\n\nlet nowGroup = nowGroupList[msg.payload]\nlet nextGroup = msg.payload\n\nlet hide_message = \"Application1_\" + nowGroup\nlet show_message = \"Application1_\" + nextGroup\n\n\nmsg.payload = {\n    \"group\":{\n        \"hide\":[hide_message],\n        \"show\":[show_message]\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1800,
        "wires": [
            [
                "1891d01827b8ee2a"
            ]
        ]
    },
    {
        "id": "1891d01827b8ee2a",
        "type": "ui_ui_control",
        "z": "6f824968e1c74319",
        "name": "",
        "events": "change",
        "x": 1240,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "5cf305e0fa309e16",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "",
        "group": "e77efef5c32cb49f",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "{{tooltip}}",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "person",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "f79497c25d5e1900",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 1940,
        "wires": []
    },
    {
        "id": "9f43d5e7476dbf42",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1330,
        "y": 2020,
        "wires": [
            [
                "7b39874a42c407c3",
                "ee569cbd269e6941"
            ]
        ]
    },
    {
        "id": "391ba2dbac9d1343",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "天気情報の取得",
        "info": "",
        "x": 940,
        "y": 1880,
        "wires": []
    },
    {
        "id": "7b39874a42c407c3",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 2020,
        "wires": []
    },
    {
        "id": "999d3696ef4defd3",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "msg.method = \"GET\";\nmsg.url = \"http://backend:5000/getWeatherData\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'weather_code': msg.weather_code\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 2020,
        "wires": [
            [
                "9f43d5e7476dbf42"
            ]
        ]
    },
    {
        "id": "edca15fec0351bc1",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.jma.go.jp/bosai/forecast/data/forecast/230000.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 1960,
        "wires": [
            [
                "617c048a4fe366f6"
            ]
        ]
    },
    {
        "id": "617c048a4fe366f6",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 22",
        "func": "msg.weather_code = msg.payload[0]['timeSeries'][0]['areas'][1]['weatherCodes'][0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1960,
        "wires": [
            [
                "3dbe545e3ac43a67",
                "999d3696ef4defd3"
            ]
        ]
    },
    {
        "id": "3dbe545e3ac43a67",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "weather_code",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1960,
        "wires": []
    },
    {
        "id": "0a690365b7325dde",
        "type": "inject",
        "z": "6f824968e1c74319",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 1920,
        "wires": [
            [
                "edca15fec0351bc1"
            ]
        ]
    },
    {
        "id": "9dc8f5d731122192",
        "type": "link in",
        "z": "6f824968e1c74319",
        "name": "link in 3",
        "links": [
            "85d3cd928495d8a9"
        ],
        "x": 1045,
        "y": 1960,
        "wires": [
            [
                "edca15fec0351bc1"
            ]
        ]
    },
    {
        "id": "820c36ccb498e840",
        "type": "ui_button",
        "z": "6f824968e1c74319",
        "name": "",
        "group": "e77efef5c32cb49f",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "{{tooltip}}",
        "color": "{{color}}",
        "bgcolor": "",
        "className": "",
        "icon": "{{icon}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1670,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "ee569cbd269e6941",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 23",
        "func": "let code = msg.payload.code\nlet img\n\nif (code < 499) img = \"ac_unit\";\nif (code < 399) img = \"grain\";\nif (code < 299) img = \"wb_cloudy\";\nif (code < 199) img = \"wb_sunny\";\n\nmsg.icon = img\nmsg.tooltip = msg.payload['explanation']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 2060,
        "wires": [
            [
                "820c36ccb498e840"
            ]
        ]
    },
    {
        "id": "1e9b59d3283e45db",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "msg.environment = msg.payload\n\nmsg.method = \"GET\";\nmsg.url = \"http://backend:5000/getFlowerStateFromDB\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1400,
        "wires": [
            [
                "1ecfb6ccf4ebd561"
            ]
        ]
    },
    {
        "id": "1ecfb6ccf4ebd561",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1490,
        "y": 1400,
        "wires": [
            [
                "2cb5075ba7325e3a"
            ]
        ]
    },
    {
        "id": "2cb5075ba7325e3a",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "マリーゴールドの成長判定に使用する全パラメータを整理",
        "func": "msg.temperature = msg.environment['temperature']\nmsg.co2 = msg.environment['co2']\nmsg.humidity = msg.environment['humidity']\nmsg.flowerTable = msg.payload\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "5e99d5634d7a3ee5",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 25",
        "func": "let status = msg.status\n\nif (status = 0) msg.icon = \"bubble_chart\"\nif (status = 1) msg.icon = \"expand_more\"\nif (status = 2) msg.icon = \"arrow_downward\"\nif (status = 3) msg.icon = \"nature\"\nif (status = 4) msg.icon = \"spa\"\nif (status = 5) msg.icon = \"local_florist\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "508bcb3f76261433",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "requestの前処理",
        "func": "context.username\nmsg.method = \"GET\";\nmsg.url = \"http://backend:5000/getFlowerStateFromDB\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    'username': msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 2140,
        "wires": [
            [
                "adbcd01915fe1581"
            ]
        ]
    },
    {
        "id": "adbcd01915fe1581",
        "type": "http request",
        "z": "6f824968e1c74319",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "2ac35f09b143a260",
        "type": "inject",
        "z": "6f824968e1c74319",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 960,
        "y": 2140,
        "wires": [
            [
                "508bcb3f76261433"
            ]
        ]
    },
    {
        "id": "7e09d71e5e5a204c",
        "type": "link in",
        "z": "6f824968e1c74319",
        "name": "cookie in",
        "links": [
            "85d3cd928495d8a9"
        ],
        "x": 925,
        "y": 200,
        "wires": [
            [
                "3c6b8b25f1ecf6a6"
            ]
        ]
    },
    {
        "id": "3c6b8b25f1ecf6a6",
        "type": "function",
        "z": "6f824968e1c74319",
        "name": "function 26",
        "func": "function generateCookie(){\n    let user_cookie = \"\";\n\n    const cookie_length = 20;\n    const cookie_keyword = \"abcdefghijklmnopqrstuvwxyz1234567890\";\n\n    for (let index = 0; index < cookie_length; index++) {\n        let keyword_index = Math.floor(Math.random() * cookie_keyword.length)\n        let element = cookie_keyword[keyword_index];\n\n        user_cookie += element\n    }\n\n    return user_cookie\n}\n\nmsg.cookies = {\n    name : msg.user,\n    session: {\n        value: generateCookie(),\n        expires: 0\n    }\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "aa3283eb9de8229d",
                "fa53a718c77bc895",
                "d8deb25e617ed7cf"
            ]
        ]
    },
    {
        "id": "b9be277cce02e0aa",
        "type": "comment",
        "z": "6f824968e1c74319",
        "name": "Cookieを生成する（？）",
        "info": "",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "aa3283eb9de8229d",
        "type": "http response",
        "z": "6f824968e1c74319",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 160,
        "wires": []
    },
    {
        "id": "fa53a718c77bc895",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "cookies",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "193e32cb6bf81bfc",
        "type": "http in",
        "z": "6f824968e1c74319",
        "name": "",
        "url": "http://localhost/ui",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 840,
        "y": 160,
        "wires": [
            [
                "3c6b8b25f1ecf6a6"
            ]
        ]
    },
    {
        "id": "d8deb25e617ed7cf",
        "type": "debug",
        "z": "6f824968e1c74319",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.cookies",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 240,
        "wires": []
    }
]